src/plunet/mocks/data-customer/wsdl.xml

<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://API.Integration/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://API.Integration/" name="DataCustomer30Service">
<types>
<xsd:schema>
<xsd:import namespace="http://API.Integration/" schemaLocation="https://plunet.tbo.group/DataCustomer30?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="UUID" type="xsd:string"/>
<part name="CustomerIN" type="tns:CustomerIN"/>
<part name="enableNullOrEmptyValues" type="xsd:boolean"/>
</message>
<message name="updateResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="delete">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="deleteResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="insert">
<part name="UUID" type="xsd:string"/>
</message>
<message name="insertResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="search">
<part name="UUID" type="xsd:string"/>
<part name="SearchFilter" type="tns:SearchFilter_Customer"/>
</message>
<message name="searchResponse">
<part name="IntegerArrayResult" type="tns:IntegerArrayResult"/>
</message>
<message name="getCurrency">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="getCurrencyResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getAvailableWorkflows">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="getAvailableWorkflowsResponse">
<part name="WorkflowListResult" type="tns:WorkflowListResult"/>
</message>
<message name="setStatus">
<part name="UUID" type="xsd:string"/>
<part name="Status" type="xsd:int"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="setStatusResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getFullName">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="getFullNameResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getStatus">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="getStatusResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getCustomerObject">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="getCustomerObjectResponse">
<part name="CustomerResult" type="tns:CustomerResult"/>
</message>
<message name="getAllCustomerObjects">
<part name="UUID" type="xsd:string"/>
<part name="Status" type="xsd:int"/>
</message>
<message name="getAllCustomerObjectsResponse">
<part name="CustomerListResult" type="tns:CustomerListResult"/>
</message>
<message name="getAllCustomerObjects2">
<part name="UUID" type="xsd:string"/>
<part name="StatusList" type="tns:IntegerList"/>
</message>
<message name="getAllCustomerObjects2Response">
<part name="CustomerListResult" type="tns:CustomerListResult"/>
</message>
<message name="getName1">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="getName1Response">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getEmail">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="getEmailResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getName2">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="getName2Response">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getFormOfAddress">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="getFormOfAddressResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="setName1">
<part name="UUID" type="xsd:string"/>
<part name="Name" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="setName1Response">
<part name="Result" type="tns:Result"/>
</message>
<message name="setEmail">
<part name="UUID" type="xsd:string"/>
<part name="EMail" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="setEmailResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setName2">
<part name="UUID" type="xsd:string"/>
<part name="Name" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="setName2Response">
<part name="Result" type="tns:Result"/>
</message>
<message name="setFormOfAddress">
<part name="UUID" type="xsd:string"/>
<part name="FormOfAddress" type="xsd:int"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="setFormOfAddressResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getAccount">
<part name="UUID" type="xsd:string"/>
<part name="AccountID" type="xsd:int"/>
</message>
<message name="getAccountResponse">
<part name="AccountInfoResult" type="tns:AccountResult"/>
</message>
<message name="setDossier">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
<part name="dossier" type="xsd:string"/>
</message>
<message name="setDossierResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getDossier">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="getDossierResponse">
<part name="Result" type="tns:StringResult"/>
</message>
<message name="getCreatedByResourceID">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="getCreatedByResourceIDResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getAvailablePaymentMethodList">
<part name="UUID" type="xsd:string"/>
</message>
<message name="getAvailablePaymentMethodListResponse">
<part name="IntegerArrayResult" type="tns:IntegerArrayResult"/>
</message>
<message name="getDateOfInitialContact">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="getDateOfInitialContactResponse">
<part name="DateResult" type="tns:DateResult"/>
</message>
<message name="getPaymentMethodDescription">
<part name="UUID" type="xsd:string"/>
<part name="paymentMethodID" type="xsd:int"/>
<part name="systemLanguageCode" type="xsd:string"/>
</message>
<message name="getPaymentMethodDescriptionResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getSourceOfContact">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="getSourceOfContactResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getAvailableAccountIDList">
<part name="UUID" type="xsd:string"/>
</message>
<message name="getAvailableAccountIDListResponse">
<part name="IntegerArrayResult" type="tns:IntegerArrayResult"/>
</message>
<message name="deregisterCallback_Notify">
<part name="UUID" type="xsd:string"/>
<part name="EventType" type="xsd:int"/>
</message>
<message name="deregisterCallback_NotifyResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setDateOfInitialContact">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
<part name="dateInitialContact" type="xsd:dateTime"/>
</message>
<message name="setDateOfInitialContactResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getProjectManagerID">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="getProjectManagerIDResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="deregisterCallback_Observer">
<part name="UUID" type="xsd:string"/>
<part name="CustomerID" type="xsd:int"/>
</message>
<message name="deregisterCallback_ObserverResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setSourceOfContact">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
<part name="text" type="xsd:string"/>
</message>
<message name="setSourceOfContactResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="registerCallback_Observer">
<part name="UUID" type="xsd:string"/>
<part name="ServerAuthenticationString" type="xsd:string"/>
<part name="ServerAddress" type="xsd:string"/>
<part name="CustomerID" type="xsd:int"/>
</message>
<message name="registerCallback_ObserverResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setAccountManagerID">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="setAccountManagerIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="registerCallback_Notify">
<part name="UUID" type="xsd:string"/>
<part name="ServerAuthenticationString" type="xsd:string"/>
<part name="ServerAddress" type="xsd:string"/>
<part name="EventType" type="xsd:int"/>
</message>
<message name="registerCallback_NotifyResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getAccountManagerID">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="getAccountManagerIDResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="setProjectManagerID">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="setProjectManagerIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setPaymentInformation">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
<part name="paymentInfo" type="tns:PaymentInfo"/>
</message>
<message name="setPaymentInformationResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getPaymentInformation">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="getPaymentInformationResponse">
<part name="PaymentInfoResult" type="tns:PaymentInfoResult"/>
</message>
<message name="getOpening">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="getOpeningResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setExternalID">
<part name="UUID" type="xsd:string"/>
<part name="ExternalID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="setExternalIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setWebsite">
<part name="UUID" type="xsd:string"/>
<part name="Website" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="setWebsiteResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setMobilePhone">
<part name="UUID" type="xsd:string"/>
<part name="PhoneNumber" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="setMobilePhoneResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setFax">
<part name="UUID" type="xsd:string"/>
<part name="Fax" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="setFaxResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getPhone">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="getPhoneResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getFax">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="getFaxResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getWebsite">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="getWebsiteResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getAcademicTitle">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="getAcademicTitleResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="insert2">
<part name="UUID" type="xsd:string"/>
<part name="CustomerIN" type="tns:CustomerIN"/>
</message>
<message name="insert2Response">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="setSkypeID">
<part name="UUID" type="xsd:string"/>
<part name="SkypeID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="setSkypeIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setAcademicTitle">
<part name="UUID" type="xsd:string"/>
<part name="AcademicTitle" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="setAcademicTitleResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setPhone">
<part name="UUID" type="xsd:string"/>
<part name="PhoneNumber" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="setPhoneResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getMobilePhone">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="getMobilePhoneResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getSkypeID">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="getSkypeIDResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setOpening">
<part name="UUID" type="xsd:string"/>
<part name="Opening" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="setOpeningResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getExternalID">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
</message>
<message name="getExternalIDResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="seekByExternalID">
<part name="UUID" type="xsd:string"/>
<part name="ExternalID" type="xsd:string"/>
</message>
<message name="seekByExternalIDResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<portType name="DataCustomer30">
<operation name="update" parameterOrder="UUID CustomerIN enableNullOrEmptyValues">
<input wsam:Action="http://API.Integration/DataCustomer30/updateRequest" message="tns:update"/>
<output wsam:Action="http://API.Integration/DataCustomer30/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="delete" parameterOrder="UUID customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://API.Integration/DataCustomer30/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="insert">
<input wsam:Action="http://API.Integration/DataCustomer30/insertRequest" message="tns:insert"/>
<output wsam:Action="http://API.Integration/DataCustomer30/insertResponse" message="tns:insertResponse"/>
</operation>
<operation name="search" parameterOrder="UUID SearchFilter">
<input wsam:Action="http://API.Integration/DataCustomer30/searchRequest" message="tns:search"/>
<output wsam:Action="http://API.Integration/DataCustomer30/searchResponse" message="tns:searchResponse"/>
</operation>
<operation name="getCurrency" parameterOrder="UUID customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/getCurrencyRequest" message="tns:getCurrency"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getCurrencyResponse" message="tns:getCurrencyResponse"/>
</operation>
<operation name="getAvailableWorkflows" parameterOrder="UUID customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/getAvailableWorkflowsRequest" message="tns:getAvailableWorkflows"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getAvailableWorkflowsResponse" message="tns:getAvailableWorkflowsResponse"/>
</operation>
<operation name="setStatus" parameterOrder="UUID Status customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/setStatusRequest" message="tns:setStatus"/>
<output wsam:Action="http://API.Integration/DataCustomer30/setStatusResponse" message="tns:setStatusResponse"/>
</operation>
<operation name="getFullName" parameterOrder="UUID customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/getFullNameRequest" message="tns:getFullName"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getFullNameResponse" message="tns:getFullNameResponse"/>
</operation>
<operation name="getStatus" parameterOrder="UUID customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/getStatusRequest" message="tns:getStatus"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getStatusResponse" message="tns:getStatusResponse"/>
</operation>
<operation name="getCustomerObject" parameterOrder="UUID customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/getCustomerObjectRequest" message="tns:getCustomerObject"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getCustomerObjectResponse" message="tns:getCustomerObjectResponse"/>
</operation>
<operation name="getAllCustomerObjects" parameterOrder="UUID Status">
<input wsam:Action="http://API.Integration/DataCustomer30/getAllCustomerObjectsRequest" message="tns:getAllCustomerObjects"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getAllCustomerObjectsResponse" message="tns:getAllCustomerObjectsResponse"/>
</operation>
<operation name="getAllCustomerObjects2" parameterOrder="UUID StatusList">
<input wsam:Action="http://API.Integration/DataCustomer30/getAllCustomerObjects2Request" message="tns:getAllCustomerObjects2"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getAllCustomerObjects2Response" message="tns:getAllCustomerObjects2Response"/>
</operation>
<operation name="getName1" parameterOrder="UUID customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/getName1Request" message="tns:getName1"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getName1Response" message="tns:getName1Response"/>
</operation>
<operation name="getEmail" parameterOrder="UUID customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/getEmailRequest" message="tns:getEmail"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getEmailResponse" message="tns:getEmailResponse"/>
</operation>
<operation name="getName2" parameterOrder="UUID customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/getName2Request" message="tns:getName2"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getName2Response" message="tns:getName2Response"/>
</operation>
<operation name="getFormOfAddress" parameterOrder="UUID customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/getFormOfAddressRequest" message="tns:getFormOfAddress"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getFormOfAddressResponse" message="tns:getFormOfAddressResponse"/>
</operation>
<operation name="setName1" parameterOrder="UUID Name customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/setName1Request" message="tns:setName1"/>
<output wsam:Action="http://API.Integration/DataCustomer30/setName1Response" message="tns:setName1Response"/>
</operation>
<operation name="setEmail" parameterOrder="UUID EMail customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/setEmailRequest" message="tns:setEmail"/>
<output wsam:Action="http://API.Integration/DataCustomer30/setEmailResponse" message="tns:setEmailResponse"/>
</operation>
<operation name="setName2" parameterOrder="UUID Name customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/setName2Request" message="tns:setName2"/>
<output wsam:Action="http://API.Integration/DataCustomer30/setName2Response" message="tns:setName2Response"/>
</operation>
<operation name="setFormOfAddress" parameterOrder="UUID FormOfAddress customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/setFormOfAddressRequest" message="tns:setFormOfAddress"/>
<output wsam:Action="http://API.Integration/DataCustomer30/setFormOfAddressResponse" message="tns:setFormOfAddressResponse"/>
</operation>
<operation name="getAccount" parameterOrder="UUID AccountID">
<input wsam:Action="http://API.Integration/DataCustomer30/getAccountRequest" message="tns:getAccount"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getAccountResponse" message="tns:getAccountResponse"/>
</operation>
<operation name="setDossier" parameterOrder="UUID customerID dossier">
<input wsam:Action="http://API.Integration/DataCustomer30/setDossierRequest" message="tns:setDossier"/>
<output wsam:Action="http://API.Integration/DataCustomer30/setDossierResponse" message="tns:setDossierResponse"/>
</operation>
<operation name="getDossier" parameterOrder="UUID customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/getDossierRequest" message="tns:getDossier"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getDossierResponse" message="tns:getDossierResponse"/>
</operation>
<operation name="getCreatedByResourceID" parameterOrder="UUID customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/getCreatedByResourceIDRequest" message="tns:getCreatedByResourceID"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getCreatedByResourceIDResponse" message="tns:getCreatedByResourceIDResponse"/>
</operation>
<operation name="getAvailablePaymentMethodList">
<input wsam:Action="http://API.Integration/DataCustomer30/getAvailablePaymentMethodListRequest" message="tns:getAvailablePaymentMethodList"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getAvailablePaymentMethodListResponse" message="tns:getAvailablePaymentMethodListResponse"/>
</operation>
<operation name="getDateOfInitialContact" parameterOrder="UUID customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/getDateOfInitialContactRequest" message="tns:getDateOfInitialContact"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getDateOfInitialContactResponse" message="tns:getDateOfInitialContactResponse"/>
</operation>
<operation name="getPaymentMethodDescription" parameterOrder="UUID paymentMethodID systemLanguageCode">
<input wsam:Action="http://API.Integration/DataCustomer30/getPaymentMethodDescriptionRequest" message="tns:getPaymentMethodDescription"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getPaymentMethodDescriptionResponse" message="tns:getPaymentMethodDescriptionResponse"/>
</operation>
<operation name="getSourceOfContact" parameterOrder="UUID customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/getSourceOfContactRequest" message="tns:getSourceOfContact"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getSourceOfContactResponse" message="tns:getSourceOfContactResponse"/>
</operation>
<operation name="getAvailableAccountIDList">
<input wsam:Action="http://API.Integration/DataCustomer30/getAvailableAccountIDListRequest" message="tns:getAvailableAccountIDList"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getAvailableAccountIDListResponse" message="tns:getAvailableAccountIDListResponse"/>
</operation>
<operation name="deregisterCallback_Notify" parameterOrder="UUID EventType">
<input wsam:Action="http://API.Integration/DataCustomer30/deregisterCallback_NotifyRequest" message="tns:deregisterCallback_Notify"/>
<output wsam:Action="http://API.Integration/DataCustomer30/deregisterCallback_NotifyResponse" message="tns:deregisterCallback_NotifyResponse"/>
</operation>
<operation name="setDateOfInitialContact" parameterOrder="UUID customerID dateInitialContact">
<input wsam:Action="http://API.Integration/DataCustomer30/setDateOfInitialContactRequest" message="tns:setDateOfInitialContact"/>
<output wsam:Action="http://API.Integration/DataCustomer30/setDateOfInitialContactResponse" message="tns:setDateOfInitialContactResponse"/>
</operation>
<operation name="getProjectManagerID" parameterOrder="UUID customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/getProjectManagerIDRequest" message="tns:getProjectManagerID"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getProjectManagerIDResponse" message="tns:getProjectManagerIDResponse"/>
</operation>
<operation name="deregisterCallback_Observer" parameterOrder="UUID CustomerID">
<input wsam:Action="http://API.Integration/DataCustomer30/deregisterCallback_ObserverRequest" message="tns:deregisterCallback_Observer"/>
<output wsam:Action="http://API.Integration/DataCustomer30/deregisterCallback_ObserverResponse" message="tns:deregisterCallback_ObserverResponse"/>
</operation>
<operation name="setSourceOfContact" parameterOrder="UUID customerID text">
<input wsam:Action="http://API.Integration/DataCustomer30/setSourceOfContactRequest" message="tns:setSourceOfContact"/>
<output wsam:Action="http://API.Integration/DataCustomer30/setSourceOfContactResponse" message="tns:setSourceOfContactResponse"/>
</operation>
<operation name="registerCallback_Observer" parameterOrder="UUID ServerAuthenticationString ServerAddress CustomerID">
<input wsam:Action="http://API.Integration/DataCustomer30/registerCallback_ObserverRequest" message="tns:registerCallback_Observer"/>
<output wsam:Action="http://API.Integration/DataCustomer30/registerCallback_ObserverResponse" message="tns:registerCallback_ObserverResponse"/>
</operation>
<operation name="setAccountManagerID" parameterOrder="UUID customerID resourceID">
<input wsam:Action="http://API.Integration/DataCustomer30/setAccountManagerIDRequest" message="tns:setAccountManagerID"/>
<output wsam:Action="http://API.Integration/DataCustomer30/setAccountManagerIDResponse" message="tns:setAccountManagerIDResponse"/>
</operation>
<operation name="registerCallback_Notify" parameterOrder="UUID ServerAuthenticationString ServerAddress EventType">
<input wsam:Action="http://API.Integration/DataCustomer30/registerCallback_NotifyRequest" message="tns:registerCallback_Notify"/>
<output wsam:Action="http://API.Integration/DataCustomer30/registerCallback_NotifyResponse" message="tns:registerCallback_NotifyResponse"/>
</operation>
<operation name="getAccountManagerID" parameterOrder="UUID customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/getAccountManagerIDRequest" message="tns:getAccountManagerID"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getAccountManagerIDResponse" message="tns:getAccountManagerIDResponse"/>
</operation>
<operation name="setProjectManagerID" parameterOrder="UUID customerID resourceID">
<input wsam:Action="http://API.Integration/DataCustomer30/setProjectManagerIDRequest" message="tns:setProjectManagerID"/>
<output wsam:Action="http://API.Integration/DataCustomer30/setProjectManagerIDResponse" message="tns:setProjectManagerIDResponse"/>
</operation>
<operation name="setPaymentInformation" parameterOrder="UUID customerID paymentInfo">
<input wsam:Action="http://API.Integration/DataCustomer30/setPaymentInformationRequest" message="tns:setPaymentInformation"/>
<output wsam:Action="http://API.Integration/DataCustomer30/setPaymentInformationResponse" message="tns:setPaymentInformationResponse"/>
</operation>
<operation name="getPaymentInformation" parameterOrder="UUID customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/getPaymentInformationRequest" message="tns:getPaymentInformation"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getPaymentInformationResponse" message="tns:getPaymentInformationResponse"/>
</operation>
<operation name="getOpening" parameterOrder="UUID customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/getOpeningRequest" message="tns:getOpening"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getOpeningResponse" message="tns:getOpeningResponse"/>
</operation>
<operation name="setExternalID" parameterOrder="UUID ExternalID customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/setExternalIDRequest" message="tns:setExternalID"/>
<output wsam:Action="http://API.Integration/DataCustomer30/setExternalIDResponse" message="tns:setExternalIDResponse"/>
</operation>
<operation name="setWebsite" parameterOrder="UUID Website customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/setWebsiteRequest" message="tns:setWebsite"/>
<output wsam:Action="http://API.Integration/DataCustomer30/setWebsiteResponse" message="tns:setWebsiteResponse"/>
</operation>
<operation name="setMobilePhone" parameterOrder="UUID PhoneNumber customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/setMobilePhoneRequest" message="tns:setMobilePhone"/>
<output wsam:Action="http://API.Integration/DataCustomer30/setMobilePhoneResponse" message="tns:setMobilePhoneResponse"/>
</operation>
<operation name="setFax" parameterOrder="UUID Fax customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/setFaxRequest" message="tns:setFax"/>
<output wsam:Action="http://API.Integration/DataCustomer30/setFaxResponse" message="tns:setFaxResponse"/>
</operation>
<operation name="getPhone" parameterOrder="UUID customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/getPhoneRequest" message="tns:getPhone"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getPhoneResponse" message="tns:getPhoneResponse"/>
</operation>
<operation name="getFax" parameterOrder="UUID customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/getFaxRequest" message="tns:getFax"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getFaxResponse" message="tns:getFaxResponse"/>
</operation>
<operation name="getWebsite" parameterOrder="UUID customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/getWebsiteRequest" message="tns:getWebsite"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getWebsiteResponse" message="tns:getWebsiteResponse"/>
</operation>
<operation name="getAcademicTitle" parameterOrder="UUID customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/getAcademicTitleRequest" message="tns:getAcademicTitle"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getAcademicTitleResponse" message="tns:getAcademicTitleResponse"/>
</operation>
<operation name="insert2" parameterOrder="UUID CustomerIN">
<input wsam:Action="http://API.Integration/DataCustomer30/insert2Request" message="tns:insert2"/>
<output wsam:Action="http://API.Integration/DataCustomer30/insert2Response" message="tns:insert2Response"/>
</operation>
<operation name="setSkypeID" parameterOrder="UUID SkypeID customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/setSkypeIDRequest" message="tns:setSkypeID"/>
<output wsam:Action="http://API.Integration/DataCustomer30/setSkypeIDResponse" message="tns:setSkypeIDResponse"/>
</operation>
<operation name="setAcademicTitle" parameterOrder="UUID AcademicTitle customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/setAcademicTitleRequest" message="tns:setAcademicTitle"/>
<output wsam:Action="http://API.Integration/DataCustomer30/setAcademicTitleResponse" message="tns:setAcademicTitleResponse"/>
</operation>
<operation name="setPhone" parameterOrder="UUID PhoneNumber customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/setPhoneRequest" message="tns:setPhone"/>
<output wsam:Action="http://API.Integration/DataCustomer30/setPhoneResponse" message="tns:setPhoneResponse"/>
</operation>
<operation name="getMobilePhone" parameterOrder="UUID customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/getMobilePhoneRequest" message="tns:getMobilePhone"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getMobilePhoneResponse" message="tns:getMobilePhoneResponse"/>
</operation>
<operation name="getSkypeID" parameterOrder="UUID customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/getSkypeIDRequest" message="tns:getSkypeID"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getSkypeIDResponse" message="tns:getSkypeIDResponse"/>
</operation>
<operation name="setOpening" parameterOrder="UUID Opening customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/setOpeningRequest" message="tns:setOpening"/>
<output wsam:Action="http://API.Integration/DataCustomer30/setOpeningResponse" message="tns:setOpeningResponse"/>
</operation>
<operation name="getExternalID" parameterOrder="UUID customerID">
<input wsam:Action="http://API.Integration/DataCustomer30/getExternalIDRequest" message="tns:getExternalID"/>
<output wsam:Action="http://API.Integration/DataCustomer30/getExternalIDResponse" message="tns:getExternalIDResponse"/>
</operation>
<operation name="seekByExternalID" parameterOrder="UUID ExternalID">
<input wsam:Action="http://API.Integration/DataCustomer30/seekByExternalIDRequest" message="tns:seekByExternalID"/>
<output wsam:Action="http://API.Integration/DataCustomer30/seekByExternalIDResponse" message="tns:seekByExternalIDResponse"/>
</operation>
</portType>
<binding name="DataCustomer30PortBinding" type="tns:DataCustomer30">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="update">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="delete">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insert">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="search">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCurrency">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAvailableWorkflows">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setStatus">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getFullName">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getStatus">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCustomerObject">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAllCustomerObjects">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAllCustomerObjects2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getName1">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getEmail">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getName2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getFormOfAddress">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setName1">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setEmail">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setName2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setFormOfAddress">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAccount">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setDossier">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getDossier">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCreatedByResourceID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAvailablePaymentMethodList">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getDateOfInitialContact">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPaymentMethodDescription">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getSourceOfContact">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAvailableAccountIDList">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="deregisterCallback_Notify">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setDateOfInitialContact">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getProjectManagerID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="deregisterCallback_Observer">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setSourceOfContact">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="registerCallback_Observer">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setAccountManagerID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="registerCallback_Notify">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAccountManagerID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setProjectManagerID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setPaymentInformation">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPaymentInformation">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getOpening">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setExternalID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setWebsite">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setMobilePhone">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setFax">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPhone">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getFax">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getWebsite">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAcademicTitle">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insert2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setSkypeID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setAcademicTitle">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setPhone">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getMobilePhone">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getSkypeID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setOpening">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getExternalID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="seekByExternalID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
</binding>
<service name="DataCustomer30Service">
<port name="DataCustomer30Port" binding="tns:DataCustomer30PortBinding">
<soap12:address location="https://plunet.tbo.group/DataCustomer30"/>
</port>
</service>
</definitions>