src/plunet/mocks/plunet-api/wsdl.xml

<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://API.Integration/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://API.Integration/" name="PlunetAPIService">
<types>
<xsd:schema>
<xsd:import namespace="http://API.Integration/" schemaLocation="https://plunet.tbo.group/PlunetAPI?xsd=1"/>
</xsd:schema>
</types>
<message name="validate">
<part name="UUID" type="xsd:string"/>
<part name="Username" type="xsd:string"/>
<part name="Password" type="xsd:string"/>
</message>
<message name="validateResponse">
<part name="Result" type="tns:BooleanResult"/>
</message>
<message name="getVersion"/>
<message name="getVersionResponse">
<part name="return" type="xsd:double"/>
</message>
<message name="login">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="loginResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="logout">
<part name="arg0" type="xsd:string"/>
</message>
<message name="logoutResponse"/>
<message name="getPlunetVersion"/>
<message name="getPlunetVersionResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<portType name="PlunetAPI">
<operation name="validate" parameterOrder="UUID Username Password">
<input wsam:Action="http://API.Integration/PlunetAPI/validateRequest" message="tns:validate"/>
<output wsam:Action="http://API.Integration/PlunetAPI/validateResponse" message="tns:validateResponse"/>
</operation>
<operation name="getVersion">
<input wsam:Action="http://API.Integration/PlunetAPI/getVersionRequest" message="tns:getVersion"/>
<output wsam:Action="http://API.Integration/PlunetAPI/getVersionResponse" message="tns:getVersionResponse"/>
</operation>
<operation name="login" parameterOrder="arg0 arg1">
<input wsam:Action="http://API.Integration/PlunetAPI/loginRequest" message="tns:login"/>
<output wsam:Action="http://API.Integration/PlunetAPI/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="logout">
<input wsam:Action="http://API.Integration/PlunetAPI/logoutRequest" message="tns:logout"/>
<output wsam:Action="http://API.Integration/PlunetAPI/logoutResponse" message="tns:logoutResponse"/>
</operation>
<operation name="getPlunetVersion">
<input wsam:Action="http://API.Integration/PlunetAPI/getPlunetVersionRequest" message="tns:getPlunetVersion"/>
<output wsam:Action="http://API.Integration/PlunetAPI/getPlunetVersionResponse" message="tns:getPlunetVersionResponse"/>
</operation>
</portType>
<binding name="PlunetAPIPortBinding" type="tns:PlunetAPI">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="validate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getVersion">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="login">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="logout">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPlunetVersion">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
</binding>
<service name="PlunetAPIService">
<port name="PlunetAPIPort" binding="tns:PlunetAPIPortBinding">
<soap12:address location="https://plunet.tbo.group/PlunetAPI"/>
</port>
</service>
</definitions>