src/plunet/mocks/data-job/wsdl.xml

<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://API.Integration/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://API.Integration/" name="DataJob30Service">
<types>
<xsd:schema>
<xsd:import namespace="http://API.Integration/" schemaLocation="https://plunet.tbo.group/DataJob30?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="UUID" type="xsd:string"/>
<part name="JobIN" type="tns:JobIN"/>
<part name="enableNullOrEmptyValues" type="xsd:boolean"/>
</message>
<message name="updateResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="insert">
<part name="UUID" type="xsd:string"/>
<part name="projectID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="jobTypeAbbrevation" type="xsd:string"/>
</message>
<message name="insertResponse">
<part name="Result" type="tns:IntegerResult"/>
</message>
<message name="getComment">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="jobID" type="xsd:int"/>
</message>
<message name="getCommentResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setComment">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="jobID" type="xsd:int"/>
<part name="comment" type="xsd:string"/>
</message>
<message name="setCommentResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getCurrency">
<part name="UUID" type="xsd:string"/>
<part name="jobID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
</message>
<message name="getCurrencyResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setDescription">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="jobID" type="xsd:int"/>
<part name="description" type="xsd:string"/>
</message>
<message name="setDescriptionResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getDescription">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="jobID" type="xsd:int"/>
</message>
<message name="getDescriptionResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getContactPersonID">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="jobID" type="xsd:int"/>
</message>
<message name="getContactPersonIDResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getPricelist_List">
<part name="UUID" type="xsd:string"/>
<part name="jobID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
</message>
<message name="getPricelist_ListResponse">
<part name="PricelistListResult" type="tns:PricelistListResult"/>
</message>
<message name="getPriceUnit_List">
<part name="UUID" type="xsd:string"/>
<part name="languageCode" type="xsd:string"/>
<part name="service" type="xsd:string"/>
</message>
<message name="getPriceUnit_ListResponse">
<part name="PriceUnitListResult" type="tns:PriceUnitListResult"/>
</message>
<message name="getPriceLine_List">
<part name="UUID" type="xsd:string"/>
<part name="jobID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
</message>
<message name="getPriceLine_ListResponse">
<part name="PriceLineListResult" type="tns:PriceLineListResult"/>
</message>
<message name="getPricelistEntry_List">
<part name="UUID" type="xsd:string"/>
<part name="PricelistID" type="xsd:int"/>
<part name="SourceLanguage" type="xsd:string"/>
<part name="TargetLanguage" type="xsd:string"/>
</message>
<message name="getPricelistEntry_ListResponse">
<part name="PricelistEntryList" type="tns:PricelistEntryList"/>
</message>
<message name="getDeliveryDate">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="jobID" type="xsd:int"/>
</message>
<message name="getDeliveryDateResponse">
<part name="DateResult" type="tns:DateResult"/>
</message>
<message name="setCatReport">
<part name="UUID" type="xsd:string"/>
<part name="pathOrUrl" type="xsd:string"/>
<part name="overwriteExistingPriceLines" type="xsd:boolean"/>
<part name="catType" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="analyzeAndCopyResultToJob" type="xsd:boolean"/>
<part name="jobID" type="xsd:int"/>
</message>
<message name="setCatReportResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="insertPriceLine">
<part name="UUID" type="xsd:string"/>
<part name="jobID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="priceLineIN" type="tns:PriceLineIN"/>
<part name="createAsFirstItem" type="xsd:boolean"/>
</message>
<message name="insertPriceLineResponse">
<part name="PriceLineResult" type="tns:PriceLineResult"/>
</message>
<message name="setCatReport2">
<part name="UUID" type="xsd:string"/>
<part name="FileByteStream" type="xsd:base64Binary"/>
<part name="FilePathName" type="xsd:string"/>
<part name="Filesize" type="xsd:int"/>
<part name="catType" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="analyzeAndCopyResultToJob" type="xsd:boolean"/>
<part name="jobID" type="xsd:int"/>
</message>
<message name="setCatReport2Response">
<part name="Result" type="tns:Result"/>
</message>
<message name="setItemID">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="itemID" type="xsd:int"/>
<part name="jobID" type="xsd:int"/>
</message>
<message name="setItemIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getPricelist">
<part name="UUID" type="xsd:string"/>
<part name="jobID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
</message>
<message name="getPricelistResponse">
<part name="PricelistResult" type="tns:PricelistResult"/>
</message>
<message name="setPricelist">
<part name="UUID" type="xsd:string"/>
<part name="jobID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="priceListID" type="xsd:int"/>
</message>
<message name="setPricelistResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="deletePriceLine">
<part name="UUID" type="xsd:string"/>
<part name="jobID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="priceLineID" type="xsd:int"/>
</message>
<message name="deletePriceLineResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getActionLink">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="jobID" type="xsd:int"/>
<part name="userID" type="xsd:int"/>
<part name="actionLinkType" type="xsd:int"/>
</message>
<message name="getActionLinkResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getServices_List">
<part name="UUID" type="xsd:string"/>
<part name="languageCode" type="xsd:string"/>
</message>
<message name="getServices_ListResponse">
<part name="StringArrayResult" type="tns:StringArrayResult"/>
</message>
<message name="getPriceUnit">
<part name="UUID" type="xsd:string"/>
<part name="PriceUnitID" type="xsd:int"/>
<part name="languageCode" type="xsd:string"/>
</message>
<message name="getPriceUnitResponse">
<part name="PriceUnitResult" type="tns:PriceUnitResult"/>
</message>
<message name="updatePriceLine">
<part name="UUID" type="xsd:string"/>
<part name="jobID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="priceLineIN" type="tns:PriceLineIN"/>
</message>
<message name="updatePriceLineResponse">
<part name="PriceLineResult" type="tns:PriceLineResult"/>
</message>
<message name="insert3">
<part name="UUID" type="xsd:string"/>
<part name="JobIN" type="tns:JobIN"/>
<part name="JobTypeShort" type="xsd:string"/>
</message>
<message name="insert3Response">
<part name="Result" type="tns:IntegerResult"/>
</message>
<message name="getJobMetrics">
<part name="UUID" type="xsd:string"/>
<part name="jobID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="languageCode" type="xsd:string"/>
</message>
<message name="getJobMetricsResponse">
<part name="JobMetricResult" type="tns:JobMetricResult"/>
</message>
<message name="getDueDate">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="jobID" type="xsd:int"/>
</message>
<message name="getDueDateResponse">
<part name="DateResult" type="tns:DateResult"/>
</message>
<message name="assignJob">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="jobID" type="xsd:int"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="assignJobResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="deleteJob">
<part name="UUID" type="xsd:string"/>
<part name="jobID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
</message>
<message name="deleteJobResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getJob_ForView">
<part name="UUID" type="xsd:string"/>
<part name="jobID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
</message>
<message name="getJob_ForViewResponse">
<part name="JobResult" type="tns:JobResult"/>
</message>
<message name="setPriceListeID">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="priceListID" type="xsd:int"/>
<part name="jobID" type="xsd:int"/>
</message>
<message name="setPriceListeIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setDueDate">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="dueDate" type="xsd:dateTime"/>
<part name="jobID" type="xsd:int"/>
</message>
<message name="setDueDateResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setStartDate">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="startDate" type="xsd:dateTime"/>
<part name="jobID" type="xsd:int"/>
</message>
<message name="setStartDateResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getDeliveryNote">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="jobID" type="xsd:int"/>
</message>
<message name="getDeliveryNoteResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setDeliveryNote">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="jobID" type="xsd:int"/>
<part name="note" type="xsd:string"/>
</message>
<message name="setDeliveryNoteResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getPayableID">
<part name="UUID" type="xsd:string"/>
<part name="jobID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
</message>
<message name="getPayableIDResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="setJobStatus">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="jobID" type="xsd:int"/>
<part name="status" type="xsd:int"/>
</message>
<message name="setJobStatusResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getJobNumber">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="jobID" type="xsd:int"/>
</message>
<message name="getJobNumberResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="runAutomaticJob">
<part name="UUID" type="xsd:string"/>
<part name="jobID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
</message>
<message name="runAutomaticJobResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getCreationDate">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="jobID" type="xsd:int"/>
</message>
<message name="getCreationDateResponse">
<part name="DateResult" type="tns:DateResult"/>
</message>
<message name="addJobTrackingTimesList">
<part name="UUID" type="xsd:string"/>
<part name="jobID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="JobTrackingTimeListIN" type="tns:JobTrackingTimeListIN"/>
</message>
<message name="addJobTrackingTimesListResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getJobType_ShortName">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="jobID" type="xsd:int"/>
</message>
<message name="getJobType_ShortNameResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="addJobTrackingTime">
<part name="UUID" type="xsd:string"/>
<part name="jobID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="JobTrackingTimeIN" type="tns:JobTrackingTimeIN"/>
</message>
<message name="addJobTrackingTimeResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getDownloadUrl_SourceData">
<part name="UUID" type="xsd:string"/>
<part name="targetFileName" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="jobID" type="xsd:int"/>
</message>
<message name="getDownloadUrl_SourceDataResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getResourceContactPersonID">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="jobID" type="xsd:int"/>
</message>
<message name="getResourceContactPersonIDResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getJobListOfItem_ForView">
<part name="UUID" type="xsd:string"/>
<part name="itemID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
</message>
<message name="getJobListOfItem_ForViewResponse">
<part name="JobListResult" type="tns:JobListResult"/>
</message>
<message name="getItemIndependentJobs">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="projectId" type="xsd:int"/>
</message>
<message name="getItemIndependentJobsResponse">
<part name="JobListResult" type="tns:JobListResult"/>
</message>
<message name="getJobList_ForView">
<part name="UUID" type="xsd:string"/>
<part name="jobIDs" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
</message>
<message name="getJobList_ForViewResponse">
<part name="JobListResult" type="tns:JobListResult"/>
</message>
<message name="setContactPersonID">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="jobID" type="xsd:int"/>
<part name="resourceID" type="xsd:int"/>
</message>
<message name="setContactPersonIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setResourceContactPersonID">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="jobID" type="xsd:int"/>
<part name="contactID" type="xsd:int"/>
</message>
<message name="setResourceContactPersonIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getPriceLine_ListByCurrencyType">
<part name="UUID" type="xsd:string"/>
<part name="jobID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="currencyType" type="xsd:int"/>
</message>
<message name="getPriceLine_ListByCurrencyTypeResponse">
<part name="PriceLineListResult" type="tns:PriceLineListResult"/>
</message>
<message name="getJobTrackingTimesList">
<part name="UUID" type="xsd:string"/>
<part name="jobID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
</message>
<message name="getJobTrackingTimesListResponse">
<part name="JobTrackingTimeResult" type="tns:JobTrackingTimeResult"/>
</message>
<message name="getJobType_LongName">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="jobID" type="xsd:int"/>
</message>
<message name="getJobType_LongNameResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setResourceID">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="resourceID" type="xsd:int"/>
<part name="jobID" type="xsd:int"/>
</message>
<message name="setResourceIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="deregisterCallback_Notify">
<part name="UUID" type="xsd:string"/>
<part name="EventType" type="xsd:int"/>
</message>
<message name="deregisterCallback_NotifyResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="deregisterCallback_Observer">
<part name="UUID" type="xsd:string"/>
<part name="JobID" type="xsd:int"/>
<part name="ProjectType" type="xsd:int"/>
</message>
<message name="deregisterCallback_ObserverResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="registerCallback_Observer">
<part name="UUID" type="xsd:string"/>
<part name="ServerAuthenticationString" type="xsd:string"/>
<part name="ServerAddress" type="xsd:string"/>
<part name="JobID" type="xsd:int"/>
<part name="ProjectType" type="xsd:int"/>
</message>
<message name="registerCallback_ObserverResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="registerCallback_Notify">
<part name="UUID" type="xsd:string"/>
<part name="ServerAuthenticationString" type="xsd:string"/>
<part name="ServerAddress" type="xsd:string"/>
<part name="EventType" type="xsd:int"/>
</message>
<message name="registerCallback_NotifyResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="insert2">
<part name="UUID" type="xsd:string"/>
<part name="projectID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="jobTypeAbbrevation" type="xsd:string"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="insert2Response">
<part name="Result" type="tns:IntegerResult"/>
</message>
<message name="getResourceID">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="jobID" type="xsd:int"/>
</message>
<message name="getResourceIDResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<portType name="DataJob30">
<operation name="update" parameterOrder="UUID JobIN enableNullOrEmptyValues">
<input wsam:Action="http://API.Integration/DataJob30/updateRequest" message="tns:update"/>
<output wsam:Action="http://API.Integration/DataJob30/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="insert" parameterOrder="UUID projectID projectType jobTypeAbbrevation">
<input wsam:Action="http://API.Integration/DataJob30/insertRequest" message="tns:insert"/>
<output wsam:Action="http://API.Integration/DataJob30/insertResponse" message="tns:insertResponse"/>
</operation>
<operation name="getComment" parameterOrder="UUID projectType jobID">
<input wsam:Action="http://API.Integration/DataJob30/getCommentRequest" message="tns:getComment"/>
<output wsam:Action="http://API.Integration/DataJob30/getCommentResponse" message="tns:getCommentResponse"/>
</operation>
<operation name="setComment" parameterOrder="UUID projectType jobID comment">
<input wsam:Action="http://API.Integration/DataJob30/setCommentRequest" message="tns:setComment"/>
<output wsam:Action="http://API.Integration/DataJob30/setCommentResponse" message="tns:setCommentResponse"/>
</operation>
<operation name="getCurrency" parameterOrder="UUID jobID projectType">
<input wsam:Action="http://API.Integration/DataJob30/getCurrencyRequest" message="tns:getCurrency"/>
<output wsam:Action="http://API.Integration/DataJob30/getCurrencyResponse" message="tns:getCurrencyResponse"/>
</operation>
<operation name="setDescription" parameterOrder="UUID projectType jobID description">
<input wsam:Action="http://API.Integration/DataJob30/setDescriptionRequest" message="tns:setDescription"/>
<output wsam:Action="http://API.Integration/DataJob30/setDescriptionResponse" message="tns:setDescriptionResponse"/>
</operation>
<operation name="getDescription" parameterOrder="UUID projectType jobID">
<input wsam:Action="http://API.Integration/DataJob30/getDescriptionRequest" message="tns:getDescription"/>
<output wsam:Action="http://API.Integration/DataJob30/getDescriptionResponse" message="tns:getDescriptionResponse"/>
</operation>
<operation name="getContactPersonID" parameterOrder="UUID projectType jobID">
<input wsam:Action="http://API.Integration/DataJob30/getContactPersonIDRequest" message="tns:getContactPersonID"/>
<output wsam:Action="http://API.Integration/DataJob30/getContactPersonIDResponse" message="tns:getContactPersonIDResponse"/>
</operation>
<operation name="getPricelist_List" parameterOrder="UUID jobID projectType">
<input wsam:Action="http://API.Integration/DataJob30/getPricelist_ListRequest" message="tns:getPricelist_List"/>
<output wsam:Action="http://API.Integration/DataJob30/getPricelist_ListResponse" message="tns:getPricelist_ListResponse"/>
</operation>
<operation name="getPriceUnit_List" parameterOrder="UUID languageCode service">
<input wsam:Action="http://API.Integration/DataJob30/getPriceUnit_ListRequest" message="tns:getPriceUnit_List"/>
<output wsam:Action="http://API.Integration/DataJob30/getPriceUnit_ListResponse" message="tns:getPriceUnit_ListResponse"/>
</operation>
<operation name="getPriceLine_List" parameterOrder="UUID jobID projectType">
<input wsam:Action="http://API.Integration/DataJob30/getPriceLine_ListRequest" message="tns:getPriceLine_List"/>
<output wsam:Action="http://API.Integration/DataJob30/getPriceLine_ListResponse" message="tns:getPriceLine_ListResponse"/>
</operation>
<operation name="getPricelistEntry_List" parameterOrder="UUID PricelistID SourceLanguage TargetLanguage">
<input wsam:Action="http://API.Integration/DataJob30/getPricelistEntry_ListRequest" message="tns:getPricelistEntry_List"/>
<output wsam:Action="http://API.Integration/DataJob30/getPricelistEntry_ListResponse" message="tns:getPricelistEntry_ListResponse"/>
</operation>
<operation name="getDeliveryDate" parameterOrder="UUID projectType jobID">
<input wsam:Action="http://API.Integration/DataJob30/getDeliveryDateRequest" message="tns:getDeliveryDate"/>
<output wsam:Action="http://API.Integration/DataJob30/getDeliveryDateResponse" message="tns:getDeliveryDateResponse"/>
</operation>
<operation name="setCatReport" parameterOrder="UUID pathOrUrl overwriteExistingPriceLines catType projectType analyzeAndCopyResultToJob jobID">
<input wsam:Action="http://API.Integration/DataJob30/setCatReportRequest" message="tns:setCatReport"/>
<output wsam:Action="http://API.Integration/DataJob30/setCatReportResponse" message="tns:setCatReportResponse"/>
</operation>
<operation name="insertPriceLine" parameterOrder="UUID jobID projectType priceLineIN createAsFirstItem">
<input wsam:Action="http://API.Integration/DataJob30/insertPriceLineRequest" message="tns:insertPriceLine"/>
<output wsam:Action="http://API.Integration/DataJob30/insertPriceLineResponse" message="tns:insertPriceLineResponse"/>
</operation>
<operation name="setCatReport2" parameterOrder="UUID FileByteStream FilePathName Filesize catType projectType analyzeAndCopyResultToJob jobID">
<input wsam:Action="http://API.Integration/DataJob30/setCatReport2Request" message="tns:setCatReport2"/>
<output wsam:Action="http://API.Integration/DataJob30/setCatReport2Response" message="tns:setCatReport2Response"/>
</operation>
<operation name="setItemID" parameterOrder="UUID projectType itemID jobID">
<input wsam:Action="http://API.Integration/DataJob30/setItemIDRequest" message="tns:setItemID"/>
<output wsam:Action="http://API.Integration/DataJob30/setItemIDResponse" message="tns:setItemIDResponse"/>
</operation>
<operation name="getPricelist" parameterOrder="UUID jobID projectType">
<input wsam:Action="http://API.Integration/DataJob30/getPricelistRequest" message="tns:getPricelist"/>
<output wsam:Action="http://API.Integration/DataJob30/getPricelistResponse" message="tns:getPricelistResponse"/>
</operation>
<operation name="setPricelist" parameterOrder="UUID jobID projectType priceListID">
<input wsam:Action="http://API.Integration/DataJob30/setPricelistRequest" message="tns:setPricelist"/>
<output wsam:Action="http://API.Integration/DataJob30/setPricelistResponse" message="tns:setPricelistResponse"/>
</operation>
<operation name="deletePriceLine" parameterOrder="UUID jobID projectType priceLineID">
<input wsam:Action="http://API.Integration/DataJob30/deletePriceLineRequest" message="tns:deletePriceLine"/>
<output wsam:Action="http://API.Integration/DataJob30/deletePriceLineResponse" message="tns:deletePriceLineResponse"/>
</operation>
<operation name="getActionLink" parameterOrder="UUID projectType jobID userID actionLinkType">
<input wsam:Action="http://API.Integration/DataJob30/getActionLinkRequest" message="tns:getActionLink"/>
<output wsam:Action="http://API.Integration/DataJob30/getActionLinkResponse" message="tns:getActionLinkResponse"/>
</operation>
<operation name="getServices_List" parameterOrder="UUID languageCode">
<input wsam:Action="http://API.Integration/DataJob30/getServices_ListRequest" message="tns:getServices_List"/>
<output wsam:Action="http://API.Integration/DataJob30/getServices_ListResponse" message="tns:getServices_ListResponse"/>
</operation>
<operation name="getPriceUnit" parameterOrder="UUID PriceUnitID languageCode">
<input wsam:Action="http://API.Integration/DataJob30/getPriceUnitRequest" message="tns:getPriceUnit"/>
<output wsam:Action="http://API.Integration/DataJob30/getPriceUnitResponse" message="tns:getPriceUnitResponse"/>
</operation>
<operation name="updatePriceLine" parameterOrder="UUID jobID projectType priceLineIN">
<input wsam:Action="http://API.Integration/DataJob30/updatePriceLineRequest" message="tns:updatePriceLine"/>
<output wsam:Action="http://API.Integration/DataJob30/updatePriceLineResponse" message="tns:updatePriceLineResponse"/>
</operation>
<operation name="insert3" parameterOrder="UUID JobIN JobTypeShort">
<input wsam:Action="http://API.Integration/DataJob30/insert3Request" message="tns:insert3"/>
<output wsam:Action="http://API.Integration/DataJob30/insert3Response" message="tns:insert3Response"/>
</operation>
<operation name="getJobMetrics" parameterOrder="UUID jobID projectType languageCode">
<input wsam:Action="http://API.Integration/DataJob30/getJobMetricsRequest" message="tns:getJobMetrics"/>
<output wsam:Action="http://API.Integration/DataJob30/getJobMetricsResponse" message="tns:getJobMetricsResponse"/>
</operation>
<operation name="getDueDate" parameterOrder="UUID projectType jobID">
<input wsam:Action="http://API.Integration/DataJob30/getDueDateRequest" message="tns:getDueDate"/>
<output wsam:Action="http://API.Integration/DataJob30/getDueDateResponse" message="tns:getDueDateResponse"/>
</operation>
<operation name="assignJob" parameterOrder="UUID projectType jobID resourceID">
<input wsam:Action="http://API.Integration/DataJob30/assignJobRequest" message="tns:assignJob"/>
<output wsam:Action="http://API.Integration/DataJob30/assignJobResponse" message="tns:assignJobResponse"/>
</operation>
<operation name="deleteJob" parameterOrder="UUID jobID projectType">
<input wsam:Action="http://API.Integration/DataJob30/deleteJobRequest" message="tns:deleteJob"/>
<output wsam:Action="http://API.Integration/DataJob30/deleteJobResponse" message="tns:deleteJobResponse"/>
</operation>
<operation name="getJob_ForView" parameterOrder="UUID jobID projectType">
<input wsam:Action="http://API.Integration/DataJob30/getJob_ForViewRequest" message="tns:getJob_ForView"/>
<output wsam:Action="http://API.Integration/DataJob30/getJob_ForViewResponse" message="tns:getJob_ForViewResponse"/>
</operation>
<operation name="setPriceListeID" parameterOrder="UUID projectType priceListID jobID">
<input wsam:Action="http://API.Integration/DataJob30/setPriceListeIDRequest" message="tns:setPriceListeID"/>
<output wsam:Action="http://API.Integration/DataJob30/setPriceListeIDResponse" message="tns:setPriceListeIDResponse"/>
</operation>
<operation name="setDueDate" parameterOrder="UUID projectType dueDate jobID">
<input wsam:Action="http://API.Integration/DataJob30/setDueDateRequest" message="tns:setDueDate"/>
<output wsam:Action="http://API.Integration/DataJob30/setDueDateResponse" message="tns:setDueDateResponse"/>
</operation>
<operation name="setStartDate" parameterOrder="UUID projectType startDate jobID">
<input wsam:Action="http://API.Integration/DataJob30/setStartDateRequest" message="tns:setStartDate"/>
<output wsam:Action="http://API.Integration/DataJob30/setStartDateResponse" message="tns:setStartDateResponse"/>
</operation>
<operation name="getDeliveryNote" parameterOrder="UUID projectType jobID">
<input wsam:Action="http://API.Integration/DataJob30/getDeliveryNoteRequest" message="tns:getDeliveryNote"/>
<output wsam:Action="http://API.Integration/DataJob30/getDeliveryNoteResponse" message="tns:getDeliveryNoteResponse"/>
</operation>
<operation name="setDeliveryNote" parameterOrder="UUID projectType jobID note">
<input wsam:Action="http://API.Integration/DataJob30/setDeliveryNoteRequest" message="tns:setDeliveryNote"/>
<output wsam:Action="http://API.Integration/DataJob30/setDeliveryNoteResponse" message="tns:setDeliveryNoteResponse"/>
</operation>
<operation name="getPayableID" parameterOrder="UUID jobID projectType">
<input wsam:Action="http://API.Integration/DataJob30/getPayableIDRequest" message="tns:getPayableID"/>
<output wsam:Action="http://API.Integration/DataJob30/getPayableIDResponse" message="tns:getPayableIDResponse"/>
</operation>
<operation name="setJobStatus" parameterOrder="UUID projectType jobID status">
<input wsam:Action="http://API.Integration/DataJob30/setJobStatusRequest" message="tns:setJobStatus"/>
<output wsam:Action="http://API.Integration/DataJob30/setJobStatusResponse" message="tns:setJobStatusResponse"/>
</operation>
<operation name="getJobNumber" parameterOrder="UUID projectType jobID">
<input wsam:Action="http://API.Integration/DataJob30/getJobNumberRequest" message="tns:getJobNumber"/>
<output wsam:Action="http://API.Integration/DataJob30/getJobNumberResponse" message="tns:getJobNumberResponse"/>
</operation>
<operation name="runAutomaticJob" parameterOrder="UUID jobID projectType">
<input wsam:Action="http://API.Integration/DataJob30/runAutomaticJobRequest" message="tns:runAutomaticJob"/>
<output wsam:Action="http://API.Integration/DataJob30/runAutomaticJobResponse" message="tns:runAutomaticJobResponse"/>
</operation>
<operation name="getCreationDate" parameterOrder="UUID projectType jobID">
<input wsam:Action="http://API.Integration/DataJob30/getCreationDateRequest" message="tns:getCreationDate"/>
<output wsam:Action="http://API.Integration/DataJob30/getCreationDateResponse" message="tns:getCreationDateResponse"/>
</operation>
<operation name="addJobTrackingTimesList" parameterOrder="UUID jobID projectType JobTrackingTimeListIN">
<input wsam:Action="http://API.Integration/DataJob30/addJobTrackingTimesListRequest" message="tns:addJobTrackingTimesList"/>
<output wsam:Action="http://API.Integration/DataJob30/addJobTrackingTimesListResponse" message="tns:addJobTrackingTimesListResponse"/>
</operation>
<operation name="getJobType_ShortName" parameterOrder="UUID projectType jobID">
<input wsam:Action="http://API.Integration/DataJob30/getJobType_ShortNameRequest" message="tns:getJobType_ShortName"/>
<output wsam:Action="http://API.Integration/DataJob30/getJobType_ShortNameResponse" message="tns:getJobType_ShortNameResponse"/>
</operation>
<operation name="addJobTrackingTime" parameterOrder="UUID jobID projectType JobTrackingTimeIN">
<input wsam:Action="http://API.Integration/DataJob30/addJobTrackingTimeRequest" message="tns:addJobTrackingTime"/>
<output wsam:Action="http://API.Integration/DataJob30/addJobTrackingTimeResponse" message="tns:addJobTrackingTimeResponse"/>
</operation>
<operation name="getDownloadUrl_SourceData" parameterOrder="UUID targetFileName projectType jobID">
<input wsam:Action="http://API.Integration/DataJob30/getDownloadUrl_SourceDataRequest" message="tns:getDownloadUrl_SourceData"/>
<output wsam:Action="http://API.Integration/DataJob30/getDownloadUrl_SourceDataResponse" message="tns:getDownloadUrl_SourceDataResponse"/>
</operation>
<operation name="getResourceContactPersonID" parameterOrder="UUID projectType jobID">
<input wsam:Action="http://API.Integration/DataJob30/getResourceContactPersonIDRequest" message="tns:getResourceContactPersonID"/>
<output wsam:Action="http://API.Integration/DataJob30/getResourceContactPersonIDResponse" message="tns:getResourceContactPersonIDResponse"/>
</operation>
<operation name="getJobListOfItem_ForView" parameterOrder="UUID itemID projectType">
<input wsam:Action="http://API.Integration/DataJob30/getJobListOfItem_ForViewRequest" message="tns:getJobListOfItem_ForView"/>
<output wsam:Action="http://API.Integration/DataJob30/getJobListOfItem_ForViewResponse" message="tns:getJobListOfItem_ForViewResponse"/>
</operation>
<operation name="getItemIndependentJobs" parameterOrder="UUID projectType projectId">
<input wsam:Action="http://API.Integration/DataJob30/getItemIndependentJobsRequest" message="tns:getItemIndependentJobs"/>
<output wsam:Action="http://API.Integration/DataJob30/getItemIndependentJobsResponse" message="tns:getItemIndependentJobsResponse"/>
</operation>
<operation name="getJobList_ForView" parameterOrder="UUID jobIDs projectType">
<input wsam:Action="http://API.Integration/DataJob30/getJobList_ForViewRequest" message="tns:getJobList_ForView"/>
<output wsam:Action="http://API.Integration/DataJob30/getJobList_ForViewResponse" message="tns:getJobList_ForViewResponse"/>
</operation>
<operation name="setContactPersonID" parameterOrder="UUID projectType jobID resourceID">
<input wsam:Action="http://API.Integration/DataJob30/setContactPersonIDRequest" message="tns:setContactPersonID"/>
<output wsam:Action="http://API.Integration/DataJob30/setContactPersonIDResponse" message="tns:setContactPersonIDResponse"/>
</operation>
<operation name="setResourceContactPersonID" parameterOrder="UUID projectType jobID contactID">
<input wsam:Action="http://API.Integration/DataJob30/setResourceContactPersonIDRequest" message="tns:setResourceContactPersonID"/>
<output wsam:Action="http://API.Integration/DataJob30/setResourceContactPersonIDResponse" message="tns:setResourceContactPersonIDResponse"/>
</operation>
<operation name="getPriceLine_ListByCurrencyType" parameterOrder="UUID jobID projectType currencyType">
<input wsam:Action="http://API.Integration/DataJob30/getPriceLine_ListByCurrencyTypeRequest" message="tns:getPriceLine_ListByCurrencyType"/>
<output wsam:Action="http://API.Integration/DataJob30/getPriceLine_ListByCurrencyTypeResponse" message="tns:getPriceLine_ListByCurrencyTypeResponse"/>
</operation>
<operation name="getJobTrackingTimesList" parameterOrder="UUID jobID projectType">
<input wsam:Action="http://API.Integration/DataJob30/getJobTrackingTimesListRequest" message="tns:getJobTrackingTimesList"/>
<output wsam:Action="http://API.Integration/DataJob30/getJobTrackingTimesListResponse" message="tns:getJobTrackingTimesListResponse"/>
</operation>
<operation name="getJobType_LongName" parameterOrder="UUID projectType jobID">
<input wsam:Action="http://API.Integration/DataJob30/getJobType_LongNameRequest" message="tns:getJobType_LongName"/>
<output wsam:Action="http://API.Integration/DataJob30/getJobType_LongNameResponse" message="tns:getJobType_LongNameResponse"/>
</operation>
<operation name="setResourceID" parameterOrder="UUID projectType resourceID jobID">
<input wsam:Action="http://API.Integration/DataJob30/setResourceIDRequest" message="tns:setResourceID"/>
<output wsam:Action="http://API.Integration/DataJob30/setResourceIDResponse" message="tns:setResourceIDResponse"/>
</operation>
<operation name="deregisterCallback_Notify" parameterOrder="UUID EventType">
<input wsam:Action="http://API.Integration/DataJob30/deregisterCallback_NotifyRequest" message="tns:deregisterCallback_Notify"/>
<output wsam:Action="http://API.Integration/DataJob30/deregisterCallback_NotifyResponse" message="tns:deregisterCallback_NotifyResponse"/>
</operation>
<operation name="deregisterCallback_Observer" parameterOrder="UUID JobID ProjectType">
<input wsam:Action="http://API.Integration/DataJob30/deregisterCallback_ObserverRequest" message="tns:deregisterCallback_Observer"/>
<output wsam:Action="http://API.Integration/DataJob30/deregisterCallback_ObserverResponse" message="tns:deregisterCallback_ObserverResponse"/>
</operation>
<operation name="registerCallback_Observer" parameterOrder="UUID ServerAuthenticationString ServerAddress JobID ProjectType">
<input wsam:Action="http://API.Integration/DataJob30/registerCallback_ObserverRequest" message="tns:registerCallback_Observer"/>
<output wsam:Action="http://API.Integration/DataJob30/registerCallback_ObserverResponse" message="tns:registerCallback_ObserverResponse"/>
</operation>
<operation name="registerCallback_Notify" parameterOrder="UUID ServerAuthenticationString ServerAddress EventType">
<input wsam:Action="http://API.Integration/DataJob30/registerCallback_NotifyRequest" message="tns:registerCallback_Notify"/>
<output wsam:Action="http://API.Integration/DataJob30/registerCallback_NotifyResponse" message="tns:registerCallback_NotifyResponse"/>
</operation>
<operation name="insert2" parameterOrder="UUID projectID projectType jobTypeAbbrevation itemID">
<input wsam:Action="http://API.Integration/DataJob30/insert2Request" message="tns:insert2"/>
<output wsam:Action="http://API.Integration/DataJob30/insert2Response" message="tns:insert2Response"/>
</operation>
<operation name="getResourceID" parameterOrder="UUID projectType jobID">
<input wsam:Action="http://API.Integration/DataJob30/getResourceIDRequest" message="tns:getResourceID"/>
<output wsam:Action="http://API.Integration/DataJob30/getResourceIDResponse" message="tns:getResourceIDResponse"/>
</operation>
</portType>
<binding name="DataJob30PortBinding" type="tns:DataJob30">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="update">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insert">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getComment">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setComment">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCurrency">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setDescription">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getDescription">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getContactPersonID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPricelist_List">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPriceUnit_List">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPriceLine_List">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPricelistEntry_List">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getDeliveryDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setCatReport">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insertPriceLine">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setCatReport2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setItemID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPricelist">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setPricelist">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="deletePriceLine">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getActionLink">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getServices_List">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPriceUnit">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="updatePriceLine">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insert3">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getJobMetrics">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getDueDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="assignJob">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="deleteJob">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getJob_ForView">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setPriceListeID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setDueDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setStartDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getDeliveryNote">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setDeliveryNote">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPayableID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setJobStatus">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getJobNumber">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="runAutomaticJob">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCreationDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="addJobTrackingTimesList">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getJobType_ShortName">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="addJobTrackingTime">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getDownloadUrl_SourceData">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getResourceContactPersonID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getJobListOfItem_ForView">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getItemIndependentJobs">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getJobList_ForView">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setContactPersonID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setResourceContactPersonID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPriceLine_ListByCurrencyType">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getJobTrackingTimesList">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getJobType_LongName">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setResourceID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="deregisterCallback_Notify">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="deregisterCallback_Observer">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="registerCallback_Observer">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="registerCallback_Notify">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insert2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getResourceID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
</binding>
<service name="DataJob30Service">
<port name="DataJob30Port" binding="tns:DataJob30PortBinding">
<soap12:address location="https://plunet.tbo.group/DataJob30"/>
</port>
</service>
</definitions>