src/plunet/mocks/data-item/wsdl.xml

<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://API.Integration/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://API.Integration/" name="DataItem30Service">
<types>
<xsd:schema>
<xsd:import namespace="http://API.Integration/" schemaLocation="https://plunet.tbo.group/DataItem30?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="UUID" type="xsd:string"/>
<part name="ItemIN" type="tns:ItemIN"/>
<part name="enableNullOrEmptyValues" type="xsd:boolean"/>
</message>
<message name="updateResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="delete">
<part name="UUID" type="xsd:string"/>
<part name="itemID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
</message>
<message name="deleteResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="insert">
<part name="UUID" type="xsd:string"/>
<part name="projectID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
</message>
<message name="insertResponse">
<part name="Result" type="tns:IntegerResult"/>
</message>
<message name="getComment">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="getCommentResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setComment">
<part name="UUID" type="xsd:string"/>
<part name="comment" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="setCommentResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setStatus">
<part name="UUID" type="xsd:string"/>
<part name="status" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="setStatusResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="insertLanguageIndependentItem">
<part name="UUID" type="xsd:string"/>
<part name="ItemIn" type="tns:ItemIN"/>
</message>
<message name="insertLanguageIndependentItemResponse">
<part name="Result" type="tns:IntegerResult"/>
</message>
<message name="copyJobsFromWorkflow">
<part name="UUID" type="xsd:string"/>
<part name="workflowID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="copyJobsFromWorkflowResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="addLanguageCombination2">
<part name="UUID" type="xsd:string"/>
<part name="sourceLanguage" type="xsd:string"/>
<part name="targetLanguage" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="projectID" type="xsd:int"/>
</message>
<message name="addLanguageCombination2Response">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getItemsByStatus4ByCurrencyType">
<part name="UUID" type="xsd:string"/>
<part name="projectID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="status" type="xsd:int"/>
<part name="documentStatus" type="xsd:int"/>
<part name="currentType" type="xsd:int"/>
</message>
<message name="getItemsByStatus4ByCurrencyTypeResponse">
<part name="ItemListResult" type="tns:ItemListResult"/>
</message>
<message name="getItemsByStatus3ByCurrencyType">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="status" type="xsd:int"/>
<part name="documentStatus" type="xsd:int"/>
<part name="currencyType" type="xsd:int"/>
</message>
<message name="getItemsByStatus3ByCurrencyTypeResponse">
<part name="ItemListResult" type="tns:ItemListResult"/>
</message>
<message name="getItemObjectByCurrencyType">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="itemID" type="xsd:int"/>
<part name="currencyType" type="xsd:int"/>
</message>
<message name="getItemObjectByCurrencyTypeResponse">
<part name="ItemResult" type="tns:ItemResult"/>
</message>
<message name="getAllItemObjectsByCurrency">
<part name="UUID" type="xsd:string"/>
<part name="projectID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="currencyType" type="xsd:int"/>
</message>
<message name="getAllItemObjectsByCurrencyResponse">
<part name="ItemListResult" type="tns:ItemListResult"/>
</message>
<message name="getLanguageIndependentItemObject">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="projectID" type="xsd:int"/>
<part name="currencyType" type="xsd:int"/>
</message>
<message name="getLanguageIndependentItemObjectResponse">
<part name="ItemResult" type="tns:ItemResult"/>
</message>
<message name="getTotalPriceByCurrencyType">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="itemID" type="xsd:int"/>
<part name="currencyType" type="xsd:int"/>
</message>
<message name="getTotalPriceByCurrencyTypeResponse">
<part name="DoubleResult" type="tns:DoubleResult"/>
</message>
<message name="setDefaultContactPerson">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="itemId" type="xsd:int"/>
<part name="resourceId" type="xsd:int"/>
</message>
<message name="setDefaultContactPersonResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getPricelist_List">
<part name="UUID" type="xsd:string"/>
<part name="itemID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
</message>
<message name="getPricelist_ListResponse">
<part name="PricelistListResult" type="tns:PricelistListResult"/>
</message>
<message name="getPriceUnit_List">
<part name="UUID" type="xsd:string"/>
<part name="languageCode" type="xsd:string"/>
<part name="service" type="xsd:string"/>
</message>
<message name="getPriceUnit_ListResponse">
<part name="PriceUnitListResult" type="tns:PriceUnitListResult"/>
</message>
<message name="getPriceLine_ListByCurrency">
<part name="UUID" type="xsd:string"/>
<part name="itemID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="currencyType" type="xsd:int"/>
</message>
<message name="getPriceLine_ListByCurrencyResponse">
<part name="PriceLineListResult" type="tns:PriceLineListResult"/>
</message>
<message name="getPriceLine_List">
<part name="UUID" type="xsd:string"/>
<part name="itemID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
</message>
<message name="getPriceLine_ListResponse">
<part name="PriceLineListResult" type="tns:PriceLineListResult"/>
</message>
<message name="getDefaultContactPerson">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="getDefaultContactPersonResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getPricelistEntry_List">
<part name="UUID" type="xsd:string"/>
<part name="PricelistID" type="xsd:int"/>
<part name="SourceLanguage" type="xsd:string"/>
<part name="TargetLanguage" type="xsd:string"/>
</message>
<message name="getPricelistEntry_ListResponse">
<part name="PricelistEntryList" type="tns:PricelistEntryList"/>
</message>
<message name="getStatus">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="getStatusResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getJobs">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="getJobsResponse">
<part name="IntegerArrayResult" type="tns:IntegerArrayResult"/>
</message>
<message name="get_ByLanguage">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="projectID" type="xsd:int"/>
<part name="sourceLanguage" type="xsd:string"/>
<part name="targetLanguage" type="xsd:string"/>
</message>
<message name="get_ByLanguageResponse">
<part name="Result" type="tns:IntegerResult"/>
</message>
<message name="getBestPricelist">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="getBestPricelistResponse">
<part name="StringResult" type="tns:IntegerResult"/>
</message>
<message name="getItemReference">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="getItemReferenceResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setItemReference">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="itemID" type="xsd:int"/>
<part name="reference" type="xsd:string"/>
</message>
<message name="setItemReferenceResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setDeliveryDate">
<part name="UUID" type="xsd:string"/>
<part name="deliveryDate" type="xsd:dateTime"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="setDeliveryDateResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getDeliveryDate">
<part name="UUID" type="xsd:string"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="getDeliveryDateResponse">
<part name="DateResult" type="tns:DateResult"/>
</message>
<message name="getAllItems">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="projectID" type="xsd:int"/>
</message>
<message name="getAllItemsResponse">
<part name="IntegerArrayResult" type="tns:IntegerArrayResult"/>
</message>
<message name="setCatReport">
<part name="UUID" type="xsd:string"/>
<part name="pathOrUrl" type="xsd:string"/>
<part name="overwriteExistingPriceLines" type="xsd:boolean"/>
<part name="catType" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="copyResultsToItem" type="xsd:boolean"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="setCatReportResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getItemObject">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="getItemObjectResponse">
<part name="ItemResult" type="tns:ItemResult"/>
</message>
<message name="getTotalPrice">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="getTotalPriceResponse">
<part name="DoubleResult" type="tns:DoubleResult"/>
</message>
<message name="insertPriceLine">
<part name="UUID" type="xsd:string"/>
<part name="itemID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="priceLineIN" type="tns:PriceLineIN"/>
<part name="createAsFirstItem" type="xsd:boolean"/>
</message>
<message name="insertPriceLineResponse">
<part name="PriceLineResult" type="tns:PriceLineResult"/>
</message>
<message name="getInvoiceID">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="getInvoiceIDResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="setTotalPrice">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="totalPrice" type="xsd:double"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="setTotalPriceResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setCatReport2">
<part name="UUID" type="xsd:string"/>
<part name="FileByteStream" type="xsd:base64Binary"/>
<part name="FilePathName" type="xsd:string"/>
<part name="Filesize" type="xsd:int"/>
<part name="overwriteExistingPriceLines" type="xsd:boolean"/>
<part name="catType" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="copyResultsToItem" type="xsd:boolean"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="setCatReport2Response">
<part name="Result" type="tns:Result"/>
</message>
<message name="getPricelist">
<part name="UUID" type="xsd:string"/>
<part name="itemID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
</message>
<message name="getPricelistResponse">
<part name="PricelistResult" type="tns:PricelistResult"/>
</message>
<message name="setPricelist">
<part name="UUID" type="xsd:string"/>
<part name="itemID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="priceListID" type="xsd:int"/>
</message>
<message name="setPricelistResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="deletePriceLine">
<part name="UUID" type="xsd:string"/>
<part name="itemID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="priceLineID" type="xsd:int"/>
</message>
<message name="deletePriceLineResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="updatePrices">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="itemId" type="xsd:int"/>
</message>
<message name="updatePricesResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getServices_List">
<part name="UUID" type="xsd:string"/>
<part name="languageCode" type="xsd:string"/>
</message>
<message name="getServices_ListResponse">
<part name="StringArrayResult" type="tns:StringArrayResult"/>
</message>
<message name="getPriceUnit">
<part name="UUID" type="xsd:string"/>
<part name="PriceUnitID" type="xsd:int"/>
<part name="languageCode" type="xsd:string"/>
</message>
<message name="getPriceUnitResponse">
<part name="PriceUnitResult" type="tns:PriceUnitResult"/>
</message>
<message name="updatePriceLine">
<part name="UUID" type="xsd:string"/>
<part name="itemID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="priceLineIN" type="tns:PriceLineIN"/>
</message>
<message name="updatePriceLineResponse">
<part name="PriceLineResult" type="tns:PriceLineResult"/>
</message>
<message name="setBriefDescription">
<part name="UUID" type="xsd:string"/>
<part name="description" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="setBriefDescriptionResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getDeliveryDeadline">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="getDeliveryDeadlineResponse">
<part name="DateResult" type="tns:DateResult"/>
</message>
<message name="getItemsByStatus2">
<part name="UUID" type="xsd:string"/>
<part name="projectID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="status" type="xsd:int"/>
</message>
<message name="getItemsByStatus2Response">
<part name="ItemListResult" type="tns:ItemListResult"/>
</message>
<message name="getItemsByStatus3">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="status" type="xsd:int"/>
<part name="documentStatus" type="xsd:int"/>
</message>
<message name="getItemsByStatus3Response">
<part name="ItemListResult" type="tns:ItemListResult"/>
</message>
<message name="setDeliveryDeadline">
<part name="UUID" type="xsd:string"/>
<part name="deadline" type="xsd:dateTime"/>
<part name="projectType" type="xsd:int"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="setDeliveryDeadlineResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getBriefDescription">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="getBriefDescriptionResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="seekLanguageCombination">
<part name="UUID" type="xsd:string"/>
<part name="sourceLanguage" type="xsd:string"/>
<part name="targetLanguage" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="projectID" type="xsd:int"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="seekLanguageCombinationResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getItemsByStatus1">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="status" type="xsd:int"/>
</message>
<message name="getItemsByStatus1Response">
<part name="ItemListResult" type="tns:ItemListResult"/>
</message>
<message name="setLanguageCombinationID">
<part name="UUID" type="xsd:string"/>
<part name="languageCombinationID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="setLanguageCombinationIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setDocumentStatus">
<part name="UUID" type="xsd:string"/>
<part name="documentStatus" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="setDocumentStatusResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getDocumentStatus">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="getDocumentStatusResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="addLanguageCombination">
<part name="UUID" type="xsd:string"/>
<part name="sourceLanguage" type="xsd:string"/>
<part name="targetLanguage" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="projectID" type="xsd:int"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="addLanguageCombinationResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getJobsWithStatus">
<part name="UUID" type="xsd:string"/>
<part name="Status" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="getJobsWithStatusResponse">
<part name="IntegerArrayResult" type="tns:IntegerArrayResult"/>
</message>
<message name="getItemsByStatus4">
<part name="UUID" type="xsd:string"/>
<part name="projectID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="status" type="xsd:int"/>
<part name="documentStatus" type="xsd:int"/>
</message>
<message name="getItemsByStatus4Response">
<part name="ItemListResult" type="tns:ItemListResult"/>
</message>
<message name="getAllItemObjects">
<part name="UUID" type="xsd:string"/>
<part name="projectID" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
</message>
<message name="getAllItemObjectsResponse">
<part name="ItemListResult" type="tns:ItemListResult"/>
</message>
<message name="deregisterCallback_Notify">
<part name="UUID" type="xsd:string"/>
<part name="EventType" type="xsd:int"/>
</message>
<message name="deregisterCallback_NotifyResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="deregisterCallback_Observer">
<part name="UUID" type="xsd:string"/>
<part name="ItemID" type="xsd:int"/>
<part name="ProjectType" type="xsd:int"/>
</message>
<message name="deregisterCallback_ObserverResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="registerCallback_Observer">
<part name="UUID" type="xsd:string"/>
<part name="ServerAuthenticationString" type="xsd:string"/>
<part name="ServerAddress" type="xsd:string"/>
<part name="ItemID" type="xsd:int"/>
<part name="ProjectType" type="xsd:int"/>
</message>
<message name="registerCallback_ObserverResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="registerCallback_Notify">
<part name="UUID" type="xsd:string"/>
<part name="ServerAuthenticationString" type="xsd:string"/>
<part name="ServerAddress" type="xsd:string"/>
<part name="EventType" type="xsd:int"/>
</message>
<message name="registerCallback_NotifyResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="insert2">
<part name="UUID" type="xsd:string"/>
<part name="ItemIN" type="tns:ItemIN"/>
</message>
<message name="insert2Response">
<part name="Result" type="tns:IntegerResult"/>
</message>
<message name="getSourceLanguage">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="getSourceLanguageResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getTargetLanguage">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="getTargetLanguageResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getOrderID">
<part name="UUID" type="xsd:string"/>
<part name="projectType" type="xsd:int"/>
<part name="itemID" type="xsd:int"/>
</message>
<message name="getOrderIDResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<portType name="DataItem30">
<operation name="update" parameterOrder="UUID ItemIN enableNullOrEmptyValues">
<input wsam:Action="http://API.Integration/DataItem30/updateRequest" message="tns:update"/>
<output wsam:Action="http://API.Integration/DataItem30/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="delete" parameterOrder="UUID itemID projectType">
<input wsam:Action="http://API.Integration/DataItem30/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://API.Integration/DataItem30/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="insert" parameterOrder="UUID projectID projectType">
<input wsam:Action="http://API.Integration/DataItem30/insertRequest" message="tns:insert"/>
<output wsam:Action="http://API.Integration/DataItem30/insertResponse" message="tns:insertResponse"/>
</operation>
<operation name="getComment" parameterOrder="UUID projectType itemID">
<input wsam:Action="http://API.Integration/DataItem30/getCommentRequest" message="tns:getComment"/>
<output wsam:Action="http://API.Integration/DataItem30/getCommentResponse" message="tns:getCommentResponse"/>
</operation>
<operation name="setComment" parameterOrder="UUID comment projectType itemID">
<input wsam:Action="http://API.Integration/DataItem30/setCommentRequest" message="tns:setComment"/>
<output wsam:Action="http://API.Integration/DataItem30/setCommentResponse" message="tns:setCommentResponse"/>
</operation>
<operation name="setStatus" parameterOrder="UUID status projectType itemID">
<input wsam:Action="http://API.Integration/DataItem30/setStatusRequest" message="tns:setStatus"/>
<output wsam:Action="http://API.Integration/DataItem30/setStatusResponse" message="tns:setStatusResponse"/>
</operation>
<operation name="insertLanguageIndependentItem" parameterOrder="UUID ItemIn">
<input wsam:Action="http://API.Integration/DataItem30/insertLanguageIndependentItemRequest" message="tns:insertLanguageIndependentItem"/>
<output wsam:Action="http://API.Integration/DataItem30/insertLanguageIndependentItemResponse" message="tns:insertLanguageIndependentItemResponse"/>
</operation>
<operation name="copyJobsFromWorkflow" parameterOrder="UUID workflowID projectType itemID">
<input wsam:Action="http://API.Integration/DataItem30/copyJobsFromWorkflowRequest" message="tns:copyJobsFromWorkflow"/>
<output wsam:Action="http://API.Integration/DataItem30/copyJobsFromWorkflowResponse" message="tns:copyJobsFromWorkflowResponse"/>
</operation>
<operation name="addLanguageCombination2" parameterOrder="UUID sourceLanguage targetLanguage projectType projectID">
<input wsam:Action="http://API.Integration/DataItem30/addLanguageCombination2Request" message="tns:addLanguageCombination2"/>
<output wsam:Action="http://API.Integration/DataItem30/addLanguageCombination2Response" message="tns:addLanguageCombination2Response"/>
</operation>
<operation name="getItemsByStatus4ByCurrencyType" parameterOrder="UUID projectID projectType status documentStatus currentType">
<input wsam:Action="http://API.Integration/DataItem30/getItemsByStatus4ByCurrencyTypeRequest" message="tns:getItemsByStatus4ByCurrencyType"/>
<output wsam:Action="http://API.Integration/DataItem30/getItemsByStatus4ByCurrencyTypeResponse" message="tns:getItemsByStatus4ByCurrencyTypeResponse"/>
</operation>
<operation name="getItemsByStatus3ByCurrencyType" parameterOrder="UUID projectType status documentStatus currencyType">
<input wsam:Action="http://API.Integration/DataItem30/getItemsByStatus3ByCurrencyTypeRequest" message="tns:getItemsByStatus3ByCurrencyType"/>
<output wsam:Action="http://API.Integration/DataItem30/getItemsByStatus3ByCurrencyTypeResponse" message="tns:getItemsByStatus3ByCurrencyTypeResponse"/>
</operation>
<operation name="getItemObjectByCurrencyType" parameterOrder="UUID projectType itemID currencyType">
<input wsam:Action="http://API.Integration/DataItem30/getItemObjectByCurrencyTypeRequest" message="tns:getItemObjectByCurrencyType"/>
<output wsam:Action="http://API.Integration/DataItem30/getItemObjectByCurrencyTypeResponse" message="tns:getItemObjectByCurrencyTypeResponse"/>
</operation>
<operation name="getAllItemObjectsByCurrency" parameterOrder="UUID projectID projectType currencyType">
<input wsam:Action="http://API.Integration/DataItem30/getAllItemObjectsByCurrencyRequest" message="tns:getAllItemObjectsByCurrency"/>
<output wsam:Action="http://API.Integration/DataItem30/getAllItemObjectsByCurrencyResponse" message="tns:getAllItemObjectsByCurrencyResponse"/>
</operation>
<operation name="getLanguageIndependentItemObject" parameterOrder="UUID projectType projectID currencyType">
<input wsam:Action="http://API.Integration/DataItem30/getLanguageIndependentItemObjectRequest" message="tns:getLanguageIndependentItemObject"/>
<output wsam:Action="http://API.Integration/DataItem30/getLanguageIndependentItemObjectResponse" message="tns:getLanguageIndependentItemObjectResponse"/>
</operation>
<operation name="getTotalPriceByCurrencyType" parameterOrder="UUID projectType itemID currencyType">
<input wsam:Action="http://API.Integration/DataItem30/getTotalPriceByCurrencyTypeRequest" message="tns:getTotalPriceByCurrencyType"/>
<output wsam:Action="http://API.Integration/DataItem30/getTotalPriceByCurrencyTypeResponse" message="tns:getTotalPriceByCurrencyTypeResponse"/>
</operation>
<operation name="setDefaultContactPerson" parameterOrder="UUID projectType itemId resourceId">
<input wsam:Action="http://API.Integration/DataItem30/setDefaultContactPersonRequest" message="tns:setDefaultContactPerson"/>
<output wsam:Action="http://API.Integration/DataItem30/setDefaultContactPersonResponse" message="tns:setDefaultContactPersonResponse"/>
</operation>
<operation name="getPricelist_List" parameterOrder="UUID itemID projectType">
<input wsam:Action="http://API.Integration/DataItem30/getPricelist_ListRequest" message="tns:getPricelist_List"/>
<output wsam:Action="http://API.Integration/DataItem30/getPricelist_ListResponse" message="tns:getPricelist_ListResponse"/>
</operation>
<operation name="getPriceUnit_List" parameterOrder="UUID languageCode service">
<input wsam:Action="http://API.Integration/DataItem30/getPriceUnit_ListRequest" message="tns:getPriceUnit_List"/>
<output wsam:Action="http://API.Integration/DataItem30/getPriceUnit_ListResponse" message="tns:getPriceUnit_ListResponse"/>
</operation>
<operation name="getPriceLine_ListByCurrency" parameterOrder="UUID itemID projectType currencyType">
<input wsam:Action="http://API.Integration/DataItem30/getPriceLine_ListByCurrencyRequest" message="tns:getPriceLine_ListByCurrency"/>
<output wsam:Action="http://API.Integration/DataItem30/getPriceLine_ListByCurrencyResponse" message="tns:getPriceLine_ListByCurrencyResponse"/>
</operation>
<operation name="getPriceLine_List" parameterOrder="UUID itemID projectType">
<input wsam:Action="http://API.Integration/DataItem30/getPriceLine_ListRequest" message="tns:getPriceLine_List"/>
<output wsam:Action="http://API.Integration/DataItem30/getPriceLine_ListResponse" message="tns:getPriceLine_ListResponse"/>
</operation>
<operation name="getDefaultContactPerson" parameterOrder="UUID projectType itemID">
<input wsam:Action="http://API.Integration/DataItem30/getDefaultContactPersonRequest" message="tns:getDefaultContactPerson"/>
<output wsam:Action="http://API.Integration/DataItem30/getDefaultContactPersonResponse" message="tns:getDefaultContactPersonResponse"/>
</operation>
<operation name="getPricelistEntry_List" parameterOrder="UUID PricelistID SourceLanguage TargetLanguage">
<input wsam:Action="http://API.Integration/DataItem30/getPricelistEntry_ListRequest" message="tns:getPricelistEntry_List"/>
<output wsam:Action="http://API.Integration/DataItem30/getPricelistEntry_ListResponse" message="tns:getPricelistEntry_ListResponse"/>
</operation>
<operation name="getStatus" parameterOrder="UUID projectType itemID">
<input wsam:Action="http://API.Integration/DataItem30/getStatusRequest" message="tns:getStatus"/>
<output wsam:Action="http://API.Integration/DataItem30/getStatusResponse" message="tns:getStatusResponse"/>
</operation>
<operation name="getJobs" parameterOrder="UUID projectType itemID">
<input wsam:Action="http://API.Integration/DataItem30/getJobsRequest" message="tns:getJobs"/>
<output wsam:Action="http://API.Integration/DataItem30/getJobsResponse" message="tns:getJobsResponse"/>
</operation>
<operation name="get_ByLanguage" parameterOrder="UUID projectType projectID sourceLanguage targetLanguage">
<input wsam:Action="http://API.Integration/DataItem30/get_ByLanguageRequest" message="tns:get_ByLanguage"/>
<output wsam:Action="http://API.Integration/DataItem30/get_ByLanguageResponse" message="tns:get_ByLanguageResponse"/>
</operation>
<operation name="getBestPricelist" parameterOrder="UUID projectType itemID">
<input wsam:Action="http://API.Integration/DataItem30/getBestPricelistRequest" message="tns:getBestPricelist"/>
<output wsam:Action="http://API.Integration/DataItem30/getBestPricelistResponse" message="tns:getBestPricelistResponse"/>
</operation>
<operation name="getItemReference" parameterOrder="UUID projectType itemID">
<input wsam:Action="http://API.Integration/DataItem30/getItemReferenceRequest" message="tns:getItemReference"/>
<output wsam:Action="http://API.Integration/DataItem30/getItemReferenceResponse" message="tns:getItemReferenceResponse"/>
</operation>
<operation name="setItemReference" parameterOrder="UUID projectType itemID reference">
<input wsam:Action="http://API.Integration/DataItem30/setItemReferenceRequest" message="tns:setItemReference"/>
<output wsam:Action="http://API.Integration/DataItem30/setItemReferenceResponse" message="tns:setItemReferenceResponse"/>
</operation>
<operation name="setDeliveryDate" parameterOrder="UUID deliveryDate itemID">
<input wsam:Action="http://API.Integration/DataItem30/setDeliveryDateRequest" message="tns:setDeliveryDate"/>
<output wsam:Action="http://API.Integration/DataItem30/setDeliveryDateResponse" message="tns:setDeliveryDateResponse"/>
</operation>
<operation name="getDeliveryDate" parameterOrder="UUID itemID">
<input wsam:Action="http://API.Integration/DataItem30/getDeliveryDateRequest" message="tns:getDeliveryDate"/>
<output wsam:Action="http://API.Integration/DataItem30/getDeliveryDateResponse" message="tns:getDeliveryDateResponse"/>
</operation>
<operation name="getAllItems" parameterOrder="UUID projectType projectID">
<input wsam:Action="http://API.Integration/DataItem30/getAllItemsRequest" message="tns:getAllItems"/>
<output wsam:Action="http://API.Integration/DataItem30/getAllItemsResponse" message="tns:getAllItemsResponse"/>
</operation>
<operation name="setCatReport" parameterOrder="UUID pathOrUrl overwriteExistingPriceLines catType projectType copyResultsToItem itemID">
<input wsam:Action="http://API.Integration/DataItem30/setCatReportRequest" message="tns:setCatReport"/>
<output wsam:Action="http://API.Integration/DataItem30/setCatReportResponse" message="tns:setCatReportResponse"/>
</operation>
<operation name="getItemObject" parameterOrder="UUID projectType itemID">
<input wsam:Action="http://API.Integration/DataItem30/getItemObjectRequest" message="tns:getItemObject"/>
<output wsam:Action="http://API.Integration/DataItem30/getItemObjectResponse" message="tns:getItemObjectResponse"/>
</operation>
<operation name="getTotalPrice" parameterOrder="UUID projectType itemID">
<input wsam:Action="http://API.Integration/DataItem30/getTotalPriceRequest" message="tns:getTotalPrice"/>
<output wsam:Action="http://API.Integration/DataItem30/getTotalPriceResponse" message="tns:getTotalPriceResponse"/>
</operation>
<operation name="insertPriceLine" parameterOrder="UUID itemID projectType priceLineIN createAsFirstItem">
<input wsam:Action="http://API.Integration/DataItem30/insertPriceLineRequest" message="tns:insertPriceLine"/>
<output wsam:Action="http://API.Integration/DataItem30/insertPriceLineResponse" message="tns:insertPriceLineResponse"/>
</operation>
<operation name="getInvoiceID" parameterOrder="UUID projectType itemID">
<input wsam:Action="http://API.Integration/DataItem30/getInvoiceIDRequest" message="tns:getInvoiceID"/>
<output wsam:Action="http://API.Integration/DataItem30/getInvoiceIDResponse" message="tns:getInvoiceIDResponse"/>
</operation>
<operation name="setTotalPrice" parameterOrder="UUID projectType totalPrice itemID">
<input wsam:Action="http://API.Integration/DataItem30/setTotalPriceRequest" message="tns:setTotalPrice"/>
<output wsam:Action="http://API.Integration/DataItem30/setTotalPriceResponse" message="tns:setTotalPriceResponse"/>
</operation>
<operation name="setCatReport2" parameterOrder="UUID FileByteStream FilePathName Filesize overwriteExistingPriceLines catType projectType copyResultsToItem itemID">
<input wsam:Action="http://API.Integration/DataItem30/setCatReport2Request" message="tns:setCatReport2"/>
<output wsam:Action="http://API.Integration/DataItem30/setCatReport2Response" message="tns:setCatReport2Response"/>
</operation>
<operation name="getPricelist" parameterOrder="UUID itemID projectType">
<input wsam:Action="http://API.Integration/DataItem30/getPricelistRequest" message="tns:getPricelist"/>
<output wsam:Action="http://API.Integration/DataItem30/getPricelistResponse" message="tns:getPricelistResponse"/>
</operation>
<operation name="setPricelist" parameterOrder="UUID itemID projectType priceListID">
<input wsam:Action="http://API.Integration/DataItem30/setPricelistRequest" message="tns:setPricelist"/>
<output wsam:Action="http://API.Integration/DataItem30/setPricelistResponse" message="tns:setPricelistResponse"/>
</operation>
<operation name="deletePriceLine" parameterOrder="UUID itemID projectType priceLineID">
<input wsam:Action="http://API.Integration/DataItem30/deletePriceLineRequest" message="tns:deletePriceLine"/>
<output wsam:Action="http://API.Integration/DataItem30/deletePriceLineResponse" message="tns:deletePriceLineResponse"/>
</operation>
<operation name="updatePrices" parameterOrder="UUID projectType itemId">
<input wsam:Action="http://API.Integration/DataItem30/updatePricesRequest" message="tns:updatePrices"/>
<output wsam:Action="http://API.Integration/DataItem30/updatePricesResponse" message="tns:updatePricesResponse"/>
</operation>
<operation name="getServices_List" parameterOrder="UUID languageCode">
<input wsam:Action="http://API.Integration/DataItem30/getServices_ListRequest" message="tns:getServices_List"/>
<output wsam:Action="http://API.Integration/DataItem30/getServices_ListResponse" message="tns:getServices_ListResponse"/>
</operation>
<operation name="getPriceUnit" parameterOrder="UUID PriceUnitID languageCode">
<input wsam:Action="http://API.Integration/DataItem30/getPriceUnitRequest" message="tns:getPriceUnit"/>
<output wsam:Action="http://API.Integration/DataItem30/getPriceUnitResponse" message="tns:getPriceUnitResponse"/>
</operation>
<operation name="updatePriceLine" parameterOrder="UUID itemID projectType priceLineIN">
<input wsam:Action="http://API.Integration/DataItem30/updatePriceLineRequest" message="tns:updatePriceLine"/>
<output wsam:Action="http://API.Integration/DataItem30/updatePriceLineResponse" message="tns:updatePriceLineResponse"/>
</operation>
<operation name="setBriefDescription" parameterOrder="UUID description projectType itemID">
<input wsam:Action="http://API.Integration/DataItem30/setBriefDescriptionRequest" message="tns:setBriefDescription"/>
<output wsam:Action="http://API.Integration/DataItem30/setBriefDescriptionResponse" message="tns:setBriefDescriptionResponse"/>
</operation>
<operation name="getDeliveryDeadline" parameterOrder="UUID projectType itemID">
<input wsam:Action="http://API.Integration/DataItem30/getDeliveryDeadlineRequest" message="tns:getDeliveryDeadline"/>
<output wsam:Action="http://API.Integration/DataItem30/getDeliveryDeadlineResponse" message="tns:getDeliveryDeadlineResponse"/>
</operation>
<operation name="getItemsByStatus2" parameterOrder="UUID projectID projectType status">
<input wsam:Action="http://API.Integration/DataItem30/getItemsByStatus2Request" message="tns:getItemsByStatus2"/>
<output wsam:Action="http://API.Integration/DataItem30/getItemsByStatus2Response" message="tns:getItemsByStatus2Response"/>
</operation>
<operation name="getItemsByStatus3" parameterOrder="UUID projectType status documentStatus">
<input wsam:Action="http://API.Integration/DataItem30/getItemsByStatus3Request" message="tns:getItemsByStatus3"/>
<output wsam:Action="http://API.Integration/DataItem30/getItemsByStatus3Response" message="tns:getItemsByStatus3Response"/>
</operation>
<operation name="setDeliveryDeadline" parameterOrder="UUID deadline projectType itemID">
<input wsam:Action="http://API.Integration/DataItem30/setDeliveryDeadlineRequest" message="tns:setDeliveryDeadline"/>
<output wsam:Action="http://API.Integration/DataItem30/setDeliveryDeadlineResponse" message="tns:setDeliveryDeadlineResponse"/>
</operation>
<operation name="getBriefDescription" parameterOrder="UUID projectType itemID">
<input wsam:Action="http://API.Integration/DataItem30/getBriefDescriptionRequest" message="tns:getBriefDescription"/>
<output wsam:Action="http://API.Integration/DataItem30/getBriefDescriptionResponse" message="tns:getBriefDescriptionResponse"/>
</operation>
<operation name="seekLanguageCombination" parameterOrder="UUID sourceLanguage targetLanguage projectType projectID itemID">
<input wsam:Action="http://API.Integration/DataItem30/seekLanguageCombinationRequest" message="tns:seekLanguageCombination"/>
<output wsam:Action="http://API.Integration/DataItem30/seekLanguageCombinationResponse" message="tns:seekLanguageCombinationResponse"/>
</operation>
<operation name="getItemsByStatus1" parameterOrder="UUID projectType status">
<input wsam:Action="http://API.Integration/DataItem30/getItemsByStatus1Request" message="tns:getItemsByStatus1"/>
<output wsam:Action="http://API.Integration/DataItem30/getItemsByStatus1Response" message="tns:getItemsByStatus1Response"/>
</operation>
<operation name="setLanguageCombinationID" parameterOrder="UUID languageCombinationID projectType itemID">
<input wsam:Action="http://API.Integration/DataItem30/setLanguageCombinationIDRequest" message="tns:setLanguageCombinationID"/>
<output wsam:Action="http://API.Integration/DataItem30/setLanguageCombinationIDResponse" message="tns:setLanguageCombinationIDResponse"/>
</operation>
<operation name="setDocumentStatus" parameterOrder="UUID documentStatus projectType itemID">
<input wsam:Action="http://API.Integration/DataItem30/setDocumentStatusRequest" message="tns:setDocumentStatus"/>
<output wsam:Action="http://API.Integration/DataItem30/setDocumentStatusResponse" message="tns:setDocumentStatusResponse"/>
</operation>
<operation name="getDocumentStatus" parameterOrder="UUID projectType itemID">
<input wsam:Action="http://API.Integration/DataItem30/getDocumentStatusRequest" message="tns:getDocumentStatus"/>
<output wsam:Action="http://API.Integration/DataItem30/getDocumentStatusResponse" message="tns:getDocumentStatusResponse"/>
</operation>
<operation name="addLanguageCombination" parameterOrder="UUID sourceLanguage targetLanguage projectType projectID itemID">
<input wsam:Action="http://API.Integration/DataItem30/addLanguageCombinationRequest" message="tns:addLanguageCombination"/>
<output wsam:Action="http://API.Integration/DataItem30/addLanguageCombinationResponse" message="tns:addLanguageCombinationResponse"/>
</operation>
<operation name="getJobsWithStatus" parameterOrder="UUID Status projectType itemID">
<input wsam:Action="http://API.Integration/DataItem30/getJobsWithStatusRequest" message="tns:getJobsWithStatus"/>
<output wsam:Action="http://API.Integration/DataItem30/getJobsWithStatusResponse" message="tns:getJobsWithStatusResponse"/>
</operation>
<operation name="getItemsByStatus4" parameterOrder="UUID projectID projectType status documentStatus">
<input wsam:Action="http://API.Integration/DataItem30/getItemsByStatus4Request" message="tns:getItemsByStatus4"/>
<output wsam:Action="http://API.Integration/DataItem30/getItemsByStatus4Response" message="tns:getItemsByStatus4Response"/>
</operation>
<operation name="getAllItemObjects" parameterOrder="UUID projectID projectType">
<input wsam:Action="http://API.Integration/DataItem30/getAllItemObjectsRequest" message="tns:getAllItemObjects"/>
<output wsam:Action="http://API.Integration/DataItem30/getAllItemObjectsResponse" message="tns:getAllItemObjectsResponse"/>
</operation>
<operation name="deregisterCallback_Notify" parameterOrder="UUID EventType">
<input wsam:Action="http://API.Integration/DataItem30/deregisterCallback_NotifyRequest" message="tns:deregisterCallback_Notify"/>
<output wsam:Action="http://API.Integration/DataItem30/deregisterCallback_NotifyResponse" message="tns:deregisterCallback_NotifyResponse"/>
</operation>
<operation name="deregisterCallback_Observer" parameterOrder="UUID ItemID ProjectType">
<input wsam:Action="http://API.Integration/DataItem30/deregisterCallback_ObserverRequest" message="tns:deregisterCallback_Observer"/>
<output wsam:Action="http://API.Integration/DataItem30/deregisterCallback_ObserverResponse" message="tns:deregisterCallback_ObserverResponse"/>
</operation>
<operation name="registerCallback_Observer" parameterOrder="UUID ServerAuthenticationString ServerAddress ItemID ProjectType">
<input wsam:Action="http://API.Integration/DataItem30/registerCallback_ObserverRequest" message="tns:registerCallback_Observer"/>
<output wsam:Action="http://API.Integration/DataItem30/registerCallback_ObserverResponse" message="tns:registerCallback_ObserverResponse"/>
</operation>
<operation name="registerCallback_Notify" parameterOrder="UUID ServerAuthenticationString ServerAddress EventType">
<input wsam:Action="http://API.Integration/DataItem30/registerCallback_NotifyRequest" message="tns:registerCallback_Notify"/>
<output wsam:Action="http://API.Integration/DataItem30/registerCallback_NotifyResponse" message="tns:registerCallback_NotifyResponse"/>
</operation>
<operation name="insert2" parameterOrder="UUID ItemIN">
<input wsam:Action="http://API.Integration/DataItem30/insert2Request" message="tns:insert2"/>
<output wsam:Action="http://API.Integration/DataItem30/insert2Response" message="tns:insert2Response"/>
</operation>
<operation name="getSourceLanguage" parameterOrder="UUID projectType itemID">
<input wsam:Action="http://API.Integration/DataItem30/getSourceLanguageRequest" message="tns:getSourceLanguage"/>
<output wsam:Action="http://API.Integration/DataItem30/getSourceLanguageResponse" message="tns:getSourceLanguageResponse"/>
</operation>
<operation name="getTargetLanguage" parameterOrder="UUID projectType itemID">
<input wsam:Action="http://API.Integration/DataItem30/getTargetLanguageRequest" message="tns:getTargetLanguage"/>
<output wsam:Action="http://API.Integration/DataItem30/getTargetLanguageResponse" message="tns:getTargetLanguageResponse"/>
</operation>
<operation name="getOrderID" parameterOrder="UUID projectType itemID">
<input wsam:Action="http://API.Integration/DataItem30/getOrderIDRequest" message="tns:getOrderID"/>
<output wsam:Action="http://API.Integration/DataItem30/getOrderIDResponse" message="tns:getOrderIDResponse"/>
</operation>
</portType>
<binding name="DataItem30PortBinding" type="tns:DataItem30">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="update">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="delete">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insert">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getComment">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setComment">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setStatus">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insertLanguageIndependentItem">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="copyJobsFromWorkflow">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="addLanguageCombination2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getItemsByStatus4ByCurrencyType">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getItemsByStatus3ByCurrencyType">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getItemObjectByCurrencyType">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAllItemObjectsByCurrency">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getLanguageIndependentItemObject">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getTotalPriceByCurrencyType">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setDefaultContactPerson">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPricelist_List">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPriceUnit_List">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPriceLine_ListByCurrency">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPriceLine_List">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getDefaultContactPerson">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPricelistEntry_List">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getStatus">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getJobs">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="get_ByLanguage">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getBestPricelist">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getItemReference">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setItemReference">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setDeliveryDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getDeliveryDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAllItems">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setCatReport">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getItemObject">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getTotalPrice">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insertPriceLine">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getInvoiceID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setTotalPrice">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setCatReport2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPricelist">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setPricelist">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="deletePriceLine">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="updatePrices">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getServices_List">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getPriceUnit">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="updatePriceLine">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setBriefDescription">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getDeliveryDeadline">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getItemsByStatus2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getItemsByStatus3">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setDeliveryDeadline">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getBriefDescription">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="seekLanguageCombination">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getItemsByStatus1">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setLanguageCombinationID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setDocumentStatus">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getDocumentStatus">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="addLanguageCombination">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getJobsWithStatus">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getItemsByStatus4">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getAllItemObjects">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="deregisterCallback_Notify">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="deregisterCallback_Observer">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="registerCallback_Observer">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="registerCallback_Notify">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insert2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getSourceLanguage">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getTargetLanguage">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getOrderID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
</binding>
<service name="DataItem30Service">
<port name="DataItem30Port" binding="tns:DataItem30PortBinding">
<soap12:address location="https://plunet.tbo.group/DataItem30"/>
</port>
</service>
</definitions>