src/plunet/mocks/data-order/wsdl.xml

<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://API.Integration/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://API.Integration/" name="DataOrder30Service">
<types>
<xsd:schema>
<xsd:import namespace="http://API.Integration/" schemaLocation="https://plunet.tbo.group/DataOrder30?xsd=1"/>
</xsd:schema>
</types>
<message name="setProperty">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
<part name="propertyNameEnglish" type="xsd:string"/>
<part name="propertyValueEnglish" type="xsd:string"/>
</message>
<message name="setPropertyResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getProperty">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
<part name="propertyNameEnglish" type="xsd:string"/>
</message>
<message name="getPropertyResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="update">
<part name="UUID" type="xsd:string"/>
<part name="OrderIN" type="tns:OrderIN"/>
<part name="enableNullOrEmptyValues" type="xsd:boolean"/>
</message>
<message name="updateResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="delete">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="deleteResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="insert">
<part name="UUID" type="xsd:string"/>
</message>
<message name="insertResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="search">
<part name="UUID" type="xsd:string"/>
<part name="SearchFilter" type="tns:SearchFilter_Order"/>
</message>
<message name="searchResponse">
<part name="IntegerArrayResult" type="tns:IntegerArrayResult"/>
</message>
<message name="createLink">
<part name="UUID" type="xsd:string"/>
<part name="sourceOrderId" type="xsd:int"/>
<part name="targetId" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
<part name="isBidirectional" type="xsd:boolean"/>
<part name="memo" type="xsd:string"/>
</message>
<message name="createLinkResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getCurrency">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getCurrencyResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getProjectManagerMemo">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getProjectManagerMemoResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getMasterProjectID">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getMasterProjectIDResponse">
<part name="Result" type="tns:IntegerResult"/>
</message>
<message name="setProjectManagerMemo">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
<part name="memo" type="xsd:string"/>
</message>
<message name="setProjectManagerMemoResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setMasterProjectID">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
<part name="MasterProjectID" type="xsd:int"/>
</message>
<message name="setMasterProjectIDResponse">
<part name="IntegerResult" type="tns:Result"/>
</message>
<message name="getReferenceNumber">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getReferenceNumberResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="insert_byTemplate">
<part name="UUID" type="xsd:string"/>
<part name="OrderIN" type="tns:OrderIN"/>
<part name="TemplateID" type="xsd:int"/>
</message>
<message name="insert_byTemplateResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="setProjectCategory">
<part name="UUID" type="xsd:string"/>
<part name="projectCategory" type="xsd:string"/>
<part name="systemLanguageCode" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="setProjectCategoryResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getProjectCategory">
<part name="UUID" type="xsd:string"/>
<part name="systemLanguageCode" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getProjectCategoryResponse">
<part name="Result" type="tns:StringResult"/>
</message>
<message name="getSubject">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getSubjectResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getTemplateList">
<part name="UUID" type="xsd:string"/>
</message>
<message name="getTemplateListResponse">
<part name="TemplateListResult" type="tns:TemplateListResult"/>
</message>
<message name="createOrderConfirmation">
<part name="UUID" type="xsd:string"/>
<part name="template" type="xsd:string"/>
<part name="formatId" type="xsd:int"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="createOrderConfirmationResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setEN15038Requested">
<part name="UUID" type="xsd:string"/>
<part name="isEN15038" type="xsd:boolean"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="setEN15038RequestedResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getDocuments_Within_FinalFolder">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getDocuments_Within_FinalFolderResponse">
<part name="StringArrayResult" type="tns:StringArrayResult"/>
</message>
<message name="getProjectmanagerID">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getProjectmanagerIDResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="setReferenceNumber">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
<part name="reference" type="xsd:string"/>
</message>
<message name="setReferenceNumberResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setProjectmanagerID">
<part name="UUID" type="xsd:string"/>
<part name="resourceID" type="xsd:int"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="setProjectmanagerIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getOrderConfirmations">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getOrderConfirmationsResponse">
<part name="StringArrayResult" type="tns:StringArrayResult"/>
</message>
<message name="getOrderClosingDate">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getOrderClosingDateResponse">
<part name="DateResult" type="tns:DateResult"/>
</message>
<message name="getOrderNo_for_View">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getOrderNo_for_ViewResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getDocuments_Within_SourceFolder">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getDocuments_Within_SourceFolderResponse">
<part name="StringArrayResult" type="tns:StringArrayResult"/>
</message>
<message name="setCurrencyAndRate">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
<part name="currencyIsoCode" type="xsd:string"/>
<part name="rate" type="xsd:double"/>
</message>
<message name="setCurrencyAndRateResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getEN15038Requested">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getEN15038RequestedResponse">
<part name="BooleanResult" type="tns:BooleanResult"/>
</message>
<message name="getDeliveryComment">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getDeliveryCommentResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getLanguageCombination">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getLanguageCombinationResponse">
<part name="StringArrayResult" type="tns:StringArrayResult"/>
</message>
<message name="getOrderObjectList">
<part name="UUID" type="xsd:string"/>
<part name="orderIDList" type="tns:IntegerList"/>
</message>
<message name="getOrderObjectListResponse">
<part name="OrderListResult" type="tns:OrderListResult"/>
</message>
<message name="getRequestId">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getRequestIdResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="setRequestID">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
<part name="requestID" type="xsd:int"/>
</message>
<message name="setRequestIDResponse">
<part name="IntegerResult" type="tns:Result"/>
</message>
<message name="checkEN15038">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="checkEN15038Response">
<part name="BooleanResult" type="tns:BooleanResult"/>
</message>
<message name="getRate">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getRateResponse">
<part name="DoubleResult" type="tns:DoubleResult"/>
</message>
<message name="getItemStatus">
<part name="UUID" type="xsd:string"/>
<part name="sourceLanguage" type="xsd:string"/>
<part name="targetLanguage" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getItemStatusResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getOrderObject">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getOrderObjectResponse">
<part name="OrderResult" type="tns:OrderResult"/>
</message>
<message name="getOrderObject2">
<part name="UUID" type="xsd:string"/>
<part name="orderNumber" type="xsd:string"/>
</message>
<message name="getOrderObject2Response">
<part name="OrderResult" type="tns:OrderResult"/>
</message>
<message name="getLinks">
<part name="UUID" type="xsd:string"/>
<part name="orderId" type="xsd:int"/>
<part name="projectType" type="xsd:int"/>
</message>
<message name="getLinksResponse">
<part name="LinkListResult" type="tns:LinkListResult"/>
</message>
<message name="setOrderDate">
<part name="UUID" type="xsd:string"/>
<part name="orderDate" type="xsd:dateTime"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="setOrderDateResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getActionLink">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
<part name="userID" type="xsd:int"/>
<part name="actionLinkType" type="xsd:int"/>
</message>
<message name="getActionLinkResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getOrderDate">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getOrderDateResponse">
<part name="DateResult" type="tns:DateResult"/>
</message>
<message name="getDeliveryDeadline">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getDeliveryDeadlineResponse">
<part name="DateResult" type="tns:DateResult"/>
</message>
<message name="setDeliveryDeadline">
<part name="UUID" type="xsd:string"/>
<part name="deliveryDeadline" type="xsd:dateTime"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="setDeliveryDeadlineResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="addLanguageCombination">
<part name="UUID" type="xsd:string"/>
<part name="sourceLanguage" type="xsd:string"/>
<part name="targetLanguage" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="addLanguageCombinationResponse">
<part name="Result" type="tns:IntegerResult"/>
</message>
<message name="getCustomerContactID">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getCustomerContactIDResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getCreationDate">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getCreationDateResponse">
<part name="DateResult" type="tns:DateResult"/>
</message>
<message name="setCreationDate">
<part name="UUID" type="xsd:string"/>
<part name="creationDate" type="xsd:dateTime"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="setCreationDateResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getDocuments_Within_SourceFolder_ByLanguage">
<part name="UUID" type="xsd:string"/>
<part name="language" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getDocuments_Within_SourceFolder_ByLanguageResponse">
<part name="StringArrayResult" type="tns:StringArrayResult"/>
</message>
<message name="getDocuments_Within_ReferenceFolder">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getDocuments_Within_ReferenceFolderResponse">
<part name="StringArrayResult" type="tns:StringArrayResult"/>
</message>
<message name="getDocuments_Within_ReferenceFolder_ByLanguage">
<part name="UUID" type="xsd:string"/>
<part name="language" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getDocuments_Within_ReferenceFolder_ByLanguageResponse">
<part name="StringArrayResult" type="tns:StringArrayResult"/>
</message>
<message name="setCustomerID">
<part name="UUID" type="xsd:string"/>
<part name="customerID" type="xsd:int"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="setCustomerIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setSubject">
<part name="UUID" type="xsd:string"/>
<part name="subject" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="setSubjectResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setCustomerContactID">
<part name="UUID" type="xsd:string"/>
<part name="customerContactID" type="xsd:int"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="setCustomerContactIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="deregisterCallback_Notify">
<part name="UUID" type="xsd:string"/>
<part name="EventType" type="xsd:int"/>
</message>
<message name="deregisterCallback_NotifyResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="deregisterCallback_Observer">
<part name="UUID" type="xsd:string"/>
<part name="OrderID" type="xsd:int"/>
</message>
<message name="deregisterCallback_ObserverResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="registerCallback_Observer">
<part name="UUID" type="xsd:string"/>
<part name="ServerAuthenticationString" type="xsd:string"/>
<part name="ServerAddress" type="xsd:string"/>
<part name="OrderID" type="xsd:int"/>
</message>
<message name="registerCallback_ObserverResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="registerCallback_Notify">
<part name="UUID" type="xsd:string"/>
<part name="ServerAuthenticationString" type="xsd:string"/>
<part name="ServerAddress" type="xsd:string"/>
<part name="EventType" type="xsd:int"/>
</message>
<message name="registerCallback_NotifyResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="setExternalID">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
<part name="externalID" type="xsd:string"/>
</message>
<message name="setExternalIDResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="insert2">
<part name="UUID" type="xsd:string"/>
<part name="OrderIN" type="tns:OrderIN"/>
</message>
<message name="insert2Response">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getExternalID">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getExternalIDResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="getProjectName">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getProjectNameResponse">
<part name="StringResult" type="tns:StringResult"/>
</message>
<message name="setProjectName">
<part name="UUID" type="xsd:string"/>
<part name="name" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="setProjectNameResponse">
<part name="Result" type="tns:Result"/>
</message>
<message name="getProjectStatus">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getProjectStatusResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="setProjectStatus">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
<part name="projectStatus" type="xsd:int"/>
</message>
<message name="setProjectStatusResponse">
<part name="IntegerResult" type="tns:Result"/>
</message>
<message name="getOrderID">
<part name="UUID" type="xsd:string"/>
<part name="displayNo" type="xsd:string"/>
</message>
<message name="getOrderIDResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<message name="getCustomerID">
<part name="UUID" type="xsd:string"/>
<part name="orderID" type="xsd:int"/>
</message>
<message name="getCustomerIDResponse">
<part name="IntegerResult" type="tns:IntegerResult"/>
</message>
<portType name="DataOrder30">
<operation name="setProperty" parameterOrder="UUID orderID propertyNameEnglish propertyValueEnglish">
<input wsam:Action="http://API.Integration/DataOrder30/setPropertyRequest" message="tns:setProperty"/>
<output wsam:Action="http://API.Integration/DataOrder30/setPropertyResponse" message="tns:setPropertyResponse"/>
</operation>
<operation name="getProperty" parameterOrder="UUID orderID propertyNameEnglish">
<input wsam:Action="http://API.Integration/DataOrder30/getPropertyRequest" message="tns:getProperty"/>
<output wsam:Action="http://API.Integration/DataOrder30/getPropertyResponse" message="tns:getPropertyResponse"/>
</operation>
<operation name="update" parameterOrder="UUID OrderIN enableNullOrEmptyValues">
<input wsam:Action="http://API.Integration/DataOrder30/updateRequest" message="tns:update"/>
<output wsam:Action="http://API.Integration/DataOrder30/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="delete" parameterOrder="UUID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://API.Integration/DataOrder30/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="insert">
<input wsam:Action="http://API.Integration/DataOrder30/insertRequest" message="tns:insert"/>
<output wsam:Action="http://API.Integration/DataOrder30/insertResponse" message="tns:insertResponse"/>
</operation>
<operation name="search" parameterOrder="UUID SearchFilter">
<input wsam:Action="http://API.Integration/DataOrder30/searchRequest" message="tns:search"/>
<output wsam:Action="http://API.Integration/DataOrder30/searchResponse" message="tns:searchResponse"/>
</operation>
<operation name="createLink" parameterOrder="UUID sourceOrderId targetId projectType isBidirectional memo">
<input wsam:Action="http://API.Integration/DataOrder30/createLinkRequest" message="tns:createLink"/>
<output wsam:Action="http://API.Integration/DataOrder30/createLinkResponse" message="tns:createLinkResponse"/>
</operation>
<operation name="getCurrency" parameterOrder="UUID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getCurrencyRequest" message="tns:getCurrency"/>
<output wsam:Action="http://API.Integration/DataOrder30/getCurrencyResponse" message="tns:getCurrencyResponse"/>
</operation>
<operation name="getProjectManagerMemo" parameterOrder="UUID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getProjectManagerMemoRequest" message="tns:getProjectManagerMemo"/>
<output wsam:Action="http://API.Integration/DataOrder30/getProjectManagerMemoResponse" message="tns:getProjectManagerMemoResponse"/>
</operation>
<operation name="getMasterProjectID" parameterOrder="UUID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getMasterProjectIDRequest" message="tns:getMasterProjectID"/>
<output wsam:Action="http://API.Integration/DataOrder30/getMasterProjectIDResponse" message="tns:getMasterProjectIDResponse"/>
</operation>
<operation name="setProjectManagerMemo" parameterOrder="UUID orderID memo">
<input wsam:Action="http://API.Integration/DataOrder30/setProjectManagerMemoRequest" message="tns:setProjectManagerMemo"/>
<output wsam:Action="http://API.Integration/DataOrder30/setProjectManagerMemoResponse" message="tns:setProjectManagerMemoResponse"/>
</operation>
<operation name="setMasterProjectID" parameterOrder="UUID orderID MasterProjectID">
<input wsam:Action="http://API.Integration/DataOrder30/setMasterProjectIDRequest" message="tns:setMasterProjectID"/>
<output wsam:Action="http://API.Integration/DataOrder30/setMasterProjectIDResponse" message="tns:setMasterProjectIDResponse"/>
</operation>
<operation name="getReferenceNumber" parameterOrder="UUID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getReferenceNumberRequest" message="tns:getReferenceNumber"/>
<output wsam:Action="http://API.Integration/DataOrder30/getReferenceNumberResponse" message="tns:getReferenceNumberResponse"/>
</operation>
<operation name="insert_byTemplate" parameterOrder="UUID OrderIN TemplateID">
<input wsam:Action="http://API.Integration/DataOrder30/insert_byTemplateRequest" message="tns:insert_byTemplate"/>
<output wsam:Action="http://API.Integration/DataOrder30/insert_byTemplateResponse" message="tns:insert_byTemplateResponse"/>
</operation>
<operation name="setProjectCategory" parameterOrder="UUID projectCategory systemLanguageCode orderID">
<input wsam:Action="http://API.Integration/DataOrder30/setProjectCategoryRequest" message="tns:setProjectCategory"/>
<output wsam:Action="http://API.Integration/DataOrder30/setProjectCategoryResponse" message="tns:setProjectCategoryResponse"/>
</operation>
<operation name="getProjectCategory" parameterOrder="UUID systemLanguageCode orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getProjectCategoryRequest" message="tns:getProjectCategory"/>
<output wsam:Action="http://API.Integration/DataOrder30/getProjectCategoryResponse" message="tns:getProjectCategoryResponse"/>
</operation>
<operation name="getSubject" parameterOrder="UUID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getSubjectRequest" message="tns:getSubject"/>
<output wsam:Action="http://API.Integration/DataOrder30/getSubjectResponse" message="tns:getSubjectResponse"/>
</operation>
<operation name="getTemplateList">
<input wsam:Action="http://API.Integration/DataOrder30/getTemplateListRequest" message="tns:getTemplateList"/>
<output wsam:Action="http://API.Integration/DataOrder30/getTemplateListResponse" message="tns:getTemplateListResponse"/>
</operation>
<operation name="createOrderConfirmation" parameterOrder="UUID template formatId orderID">
<input wsam:Action="http://API.Integration/DataOrder30/createOrderConfirmationRequest" message="tns:createOrderConfirmation"/>
<output wsam:Action="http://API.Integration/DataOrder30/createOrderConfirmationResponse" message="tns:createOrderConfirmationResponse"/>
</operation>
<operation name="setEN15038Requested" parameterOrder="UUID isEN15038 orderID">
<input wsam:Action="http://API.Integration/DataOrder30/setEN15038RequestedRequest" message="tns:setEN15038Requested"/>
<output wsam:Action="http://API.Integration/DataOrder30/setEN15038RequestedResponse" message="tns:setEN15038RequestedResponse"/>
</operation>
<operation name="getDocuments_Within_FinalFolder" parameterOrder="UUID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getDocuments_Within_FinalFolderRequest" message="tns:getDocuments_Within_FinalFolder"/>
<output wsam:Action="http://API.Integration/DataOrder30/getDocuments_Within_FinalFolderResponse" message="tns:getDocuments_Within_FinalFolderResponse"/>
</operation>
<operation name="getProjectmanagerID" parameterOrder="UUID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getProjectmanagerIDRequest" message="tns:getProjectmanagerID"/>
<output wsam:Action="http://API.Integration/DataOrder30/getProjectmanagerIDResponse" message="tns:getProjectmanagerIDResponse"/>
</operation>
<operation name="setReferenceNumber" parameterOrder="UUID orderID reference">
<input wsam:Action="http://API.Integration/DataOrder30/setReferenceNumberRequest" message="tns:setReferenceNumber"/>
<output wsam:Action="http://API.Integration/DataOrder30/setReferenceNumberResponse" message="tns:setReferenceNumberResponse"/>
</operation>
<operation name="setProjectmanagerID" parameterOrder="UUID resourceID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/setProjectmanagerIDRequest" message="tns:setProjectmanagerID"/>
<output wsam:Action="http://API.Integration/DataOrder30/setProjectmanagerIDResponse" message="tns:setProjectmanagerIDResponse"/>
</operation>
<operation name="getOrderConfirmations" parameterOrder="UUID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getOrderConfirmationsRequest" message="tns:getOrderConfirmations"/>
<output wsam:Action="http://API.Integration/DataOrder30/getOrderConfirmationsResponse" message="tns:getOrderConfirmationsResponse"/>
</operation>
<operation name="getOrderClosingDate" parameterOrder="UUID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getOrderClosingDateRequest" message="tns:getOrderClosingDate"/>
<output wsam:Action="http://API.Integration/DataOrder30/getOrderClosingDateResponse" message="tns:getOrderClosingDateResponse"/>
</operation>
<operation name="getOrderNo_for_View" parameterOrder="UUID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getOrderNo_for_ViewRequest" message="tns:getOrderNo_for_View"/>
<output wsam:Action="http://API.Integration/DataOrder30/getOrderNo_for_ViewResponse" message="tns:getOrderNo_for_ViewResponse"/>
</operation>
<operation name="getDocuments_Within_SourceFolder" parameterOrder="UUID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getDocuments_Within_SourceFolderRequest" message="tns:getDocuments_Within_SourceFolder"/>
<output wsam:Action="http://API.Integration/DataOrder30/getDocuments_Within_SourceFolderResponse" message="tns:getDocuments_Within_SourceFolderResponse"/>
</operation>
<operation name="setCurrencyAndRate" parameterOrder="UUID orderID currencyIsoCode rate">
<input wsam:Action="http://API.Integration/DataOrder30/setCurrencyAndRateRequest" message="tns:setCurrencyAndRate"/>
<output wsam:Action="http://API.Integration/DataOrder30/setCurrencyAndRateResponse" message="tns:setCurrencyAndRateResponse"/>
</operation>
<operation name="getEN15038Requested" parameterOrder="UUID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getEN15038RequestedRequest" message="tns:getEN15038Requested"/>
<output wsam:Action="http://API.Integration/DataOrder30/getEN15038RequestedResponse" message="tns:getEN15038RequestedResponse"/>
</operation>
<operation name="getDeliveryComment" parameterOrder="UUID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getDeliveryCommentRequest" message="tns:getDeliveryComment"/>
<output wsam:Action="http://API.Integration/DataOrder30/getDeliveryCommentResponse" message="tns:getDeliveryCommentResponse"/>
</operation>
<operation name="getLanguageCombination" parameterOrder="UUID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getLanguageCombinationRequest" message="tns:getLanguageCombination"/>
<output wsam:Action="http://API.Integration/DataOrder30/getLanguageCombinationResponse" message="tns:getLanguageCombinationResponse"/>
</operation>
<operation name="getOrderObjectList" parameterOrder="UUID orderIDList">
<input wsam:Action="http://API.Integration/DataOrder30/getOrderObjectListRequest" message="tns:getOrderObjectList"/>
<output wsam:Action="http://API.Integration/DataOrder30/getOrderObjectListResponse" message="tns:getOrderObjectListResponse"/>
</operation>
<operation name="getRequestId" parameterOrder="UUID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getRequestIdRequest" message="tns:getRequestId"/>
<output wsam:Action="http://API.Integration/DataOrder30/getRequestIdResponse" message="tns:getRequestIdResponse"/>
</operation>
<operation name="setRequestID" parameterOrder="UUID orderID requestID">
<input wsam:Action="http://API.Integration/DataOrder30/setRequestIDRequest" message="tns:setRequestID"/>
<output wsam:Action="http://API.Integration/DataOrder30/setRequestIDResponse" message="tns:setRequestIDResponse"/>
</operation>
<operation name="checkEN15038" parameterOrder="UUID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/checkEN15038Request" message="tns:checkEN15038"/>
<output wsam:Action="http://API.Integration/DataOrder30/checkEN15038Response" message="tns:checkEN15038Response"/>
</operation>
<operation name="getRate" parameterOrder="UUID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getRateRequest" message="tns:getRate"/>
<output wsam:Action="http://API.Integration/DataOrder30/getRateResponse" message="tns:getRateResponse"/>
</operation>
<operation name="getItemStatus" parameterOrder="UUID sourceLanguage targetLanguage orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getItemStatusRequest" message="tns:getItemStatus"/>
<output wsam:Action="http://API.Integration/DataOrder30/getItemStatusResponse" message="tns:getItemStatusResponse"/>
</operation>
<operation name="getOrderObject" parameterOrder="UUID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getOrderObjectRequest" message="tns:getOrderObject"/>
<output wsam:Action="http://API.Integration/DataOrder30/getOrderObjectResponse" message="tns:getOrderObjectResponse"/>
</operation>
<operation name="getOrderObject2" parameterOrder="UUID orderNumber">
<input wsam:Action="http://API.Integration/DataOrder30/getOrderObject2Request" message="tns:getOrderObject2"/>
<output wsam:Action="http://API.Integration/DataOrder30/getOrderObject2Response" message="tns:getOrderObject2Response"/>
</operation>
<operation name="getLinks" parameterOrder="UUID orderId projectType">
<input wsam:Action="http://API.Integration/DataOrder30/getLinksRequest" message="tns:getLinks"/>
<output wsam:Action="http://API.Integration/DataOrder30/getLinksResponse" message="tns:getLinksResponse"/>
</operation>
<operation name="setOrderDate" parameterOrder="UUID orderDate orderID">
<input wsam:Action="http://API.Integration/DataOrder30/setOrderDateRequest" message="tns:setOrderDate"/>
<output wsam:Action="http://API.Integration/DataOrder30/setOrderDateResponse" message="tns:setOrderDateResponse"/>
</operation>
<operation name="getActionLink" parameterOrder="UUID orderID userID actionLinkType">
<input wsam:Action="http://API.Integration/DataOrder30/getActionLinkRequest" message="tns:getActionLink"/>
<output wsam:Action="http://API.Integration/DataOrder30/getActionLinkResponse" message="tns:getActionLinkResponse"/>
</operation>
<operation name="getOrderDate" parameterOrder="UUID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getOrderDateRequest" message="tns:getOrderDate"/>
<output wsam:Action="http://API.Integration/DataOrder30/getOrderDateResponse" message="tns:getOrderDateResponse"/>
</operation>
<operation name="getDeliveryDeadline" parameterOrder="UUID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getDeliveryDeadlineRequest" message="tns:getDeliveryDeadline"/>
<output wsam:Action="http://API.Integration/DataOrder30/getDeliveryDeadlineResponse" message="tns:getDeliveryDeadlineResponse"/>
</operation>
<operation name="setDeliveryDeadline" parameterOrder="UUID deliveryDeadline orderID">
<input wsam:Action="http://API.Integration/DataOrder30/setDeliveryDeadlineRequest" message="tns:setDeliveryDeadline"/>
<output wsam:Action="http://API.Integration/DataOrder30/setDeliveryDeadlineResponse" message="tns:setDeliveryDeadlineResponse"/>
</operation>
<operation name="addLanguageCombination" parameterOrder="UUID sourceLanguage targetLanguage orderID">
<input wsam:Action="http://API.Integration/DataOrder30/addLanguageCombinationRequest" message="tns:addLanguageCombination"/>
<output wsam:Action="http://API.Integration/DataOrder30/addLanguageCombinationResponse" message="tns:addLanguageCombinationResponse"/>
</operation>
<operation name="getCustomerContactID" parameterOrder="UUID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getCustomerContactIDRequest" message="tns:getCustomerContactID"/>
<output wsam:Action="http://API.Integration/DataOrder30/getCustomerContactIDResponse" message="tns:getCustomerContactIDResponse"/>
</operation>
<operation name="getCreationDate" parameterOrder="UUID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getCreationDateRequest" message="tns:getCreationDate"/>
<output wsam:Action="http://API.Integration/DataOrder30/getCreationDateResponse" message="tns:getCreationDateResponse"/>
</operation>
<operation name="setCreationDate" parameterOrder="UUID creationDate orderID">
<input wsam:Action="http://API.Integration/DataOrder30/setCreationDateRequest" message="tns:setCreationDate"/>
<output wsam:Action="http://API.Integration/DataOrder30/setCreationDateResponse" message="tns:setCreationDateResponse"/>
</operation>
<operation name="getDocuments_Within_SourceFolder_ByLanguage" parameterOrder="UUID language orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getDocuments_Within_SourceFolder_ByLanguageRequest" message="tns:getDocuments_Within_SourceFolder_ByLanguage"/>
<output wsam:Action="http://API.Integration/DataOrder30/getDocuments_Within_SourceFolder_ByLanguageResponse" message="tns:getDocuments_Within_SourceFolder_ByLanguageResponse"/>
</operation>
<operation name="getDocuments_Within_ReferenceFolder" parameterOrder="UUID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getDocuments_Within_ReferenceFolderRequest" message="tns:getDocuments_Within_ReferenceFolder"/>
<output wsam:Action="http://API.Integration/DataOrder30/getDocuments_Within_ReferenceFolderResponse" message="tns:getDocuments_Within_ReferenceFolderResponse"/>
</operation>
<operation name="getDocuments_Within_ReferenceFolder_ByLanguage" parameterOrder="UUID language orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getDocuments_Within_ReferenceFolder_ByLanguageRequest" message="tns:getDocuments_Within_ReferenceFolder_ByLanguage"/>
<output wsam:Action="http://API.Integration/DataOrder30/getDocuments_Within_ReferenceFolder_ByLanguageResponse" message="tns:getDocuments_Within_ReferenceFolder_ByLanguageResponse"/>
</operation>
<operation name="setCustomerID" parameterOrder="UUID customerID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/setCustomerIDRequest" message="tns:setCustomerID"/>
<output wsam:Action="http://API.Integration/DataOrder30/setCustomerIDResponse" message="tns:setCustomerIDResponse"/>
</operation>
<operation name="setSubject" parameterOrder="UUID subject orderID">
<input wsam:Action="http://API.Integration/DataOrder30/setSubjectRequest" message="tns:setSubject"/>
<output wsam:Action="http://API.Integration/DataOrder30/setSubjectResponse" message="tns:setSubjectResponse"/>
</operation>
<operation name="setCustomerContactID" parameterOrder="UUID customerContactID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/setCustomerContactIDRequest" message="tns:setCustomerContactID"/>
<output wsam:Action="http://API.Integration/DataOrder30/setCustomerContactIDResponse" message="tns:setCustomerContactIDResponse"/>
</operation>
<operation name="deregisterCallback_Notify" parameterOrder="UUID EventType">
<input wsam:Action="http://API.Integration/DataOrder30/deregisterCallback_NotifyRequest" message="tns:deregisterCallback_Notify"/>
<output wsam:Action="http://API.Integration/DataOrder30/deregisterCallback_NotifyResponse" message="tns:deregisterCallback_NotifyResponse"/>
</operation>
<operation name="deregisterCallback_Observer" parameterOrder="UUID OrderID">
<input wsam:Action="http://API.Integration/DataOrder30/deregisterCallback_ObserverRequest" message="tns:deregisterCallback_Observer"/>
<output wsam:Action="http://API.Integration/DataOrder30/deregisterCallback_ObserverResponse" message="tns:deregisterCallback_ObserverResponse"/>
</operation>
<operation name="registerCallback_Observer" parameterOrder="UUID ServerAuthenticationString ServerAddress OrderID">
<input wsam:Action="http://API.Integration/DataOrder30/registerCallback_ObserverRequest" message="tns:registerCallback_Observer"/>
<output wsam:Action="http://API.Integration/DataOrder30/registerCallback_ObserverResponse" message="tns:registerCallback_ObserverResponse"/>
</operation>
<operation name="registerCallback_Notify" parameterOrder="UUID ServerAuthenticationString ServerAddress EventType">
<input wsam:Action="http://API.Integration/DataOrder30/registerCallback_NotifyRequest" message="tns:registerCallback_Notify"/>
<output wsam:Action="http://API.Integration/DataOrder30/registerCallback_NotifyResponse" message="tns:registerCallback_NotifyResponse"/>
</operation>
<operation name="setExternalID" parameterOrder="UUID orderID externalID">
<input wsam:Action="http://API.Integration/DataOrder30/setExternalIDRequest" message="tns:setExternalID"/>
<output wsam:Action="http://API.Integration/DataOrder30/setExternalIDResponse" message="tns:setExternalIDResponse"/>
</operation>
<operation name="insert2" parameterOrder="UUID OrderIN">
<input wsam:Action="http://API.Integration/DataOrder30/insert2Request" message="tns:insert2"/>
<output wsam:Action="http://API.Integration/DataOrder30/insert2Response" message="tns:insert2Response"/>
</operation>
<operation name="getExternalID" parameterOrder="UUID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getExternalIDRequest" message="tns:getExternalID"/>
<output wsam:Action="http://API.Integration/DataOrder30/getExternalIDResponse" message="tns:getExternalIDResponse"/>
</operation>
<operation name="getProjectName" parameterOrder="UUID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getProjectNameRequest" message="tns:getProjectName"/>
<output wsam:Action="http://API.Integration/DataOrder30/getProjectNameResponse" message="tns:getProjectNameResponse"/>
</operation>
<operation name="setProjectName" parameterOrder="UUID name orderID">
<input wsam:Action="http://API.Integration/DataOrder30/setProjectNameRequest" message="tns:setProjectName"/>
<output wsam:Action="http://API.Integration/DataOrder30/setProjectNameResponse" message="tns:setProjectNameResponse"/>
</operation>
<operation name="getProjectStatus" parameterOrder="UUID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getProjectStatusRequest" message="tns:getProjectStatus"/>
<output wsam:Action="http://API.Integration/DataOrder30/getProjectStatusResponse" message="tns:getProjectStatusResponse"/>
</operation>
<operation name="setProjectStatus" parameterOrder="UUID orderID projectStatus">
<input wsam:Action="http://API.Integration/DataOrder30/setProjectStatusRequest" message="tns:setProjectStatus"/>
<output wsam:Action="http://API.Integration/DataOrder30/setProjectStatusResponse" message="tns:setProjectStatusResponse"/>
</operation>
<operation name="getOrderID" parameterOrder="UUID displayNo">
<input wsam:Action="http://API.Integration/DataOrder30/getOrderIDRequest" message="tns:getOrderID"/>
<output wsam:Action="http://API.Integration/DataOrder30/getOrderIDResponse" message="tns:getOrderIDResponse"/>
</operation>
<operation name="getCustomerID" parameterOrder="UUID orderID">
<input wsam:Action="http://API.Integration/DataOrder30/getCustomerIDRequest" message="tns:getCustomerID"/>
<output wsam:Action="http://API.Integration/DataOrder30/getCustomerIDResponse" message="tns:getCustomerIDResponse"/>
</operation>
</portType>
<binding name="DataOrder30PortBinding" type="tns:DataOrder30">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="setProperty">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getProperty">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="update">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="delete">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insert">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="search">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="createLink">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCurrency">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getProjectManagerMemo">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getMasterProjectID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setProjectManagerMemo">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setMasterProjectID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getReferenceNumber">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insert_byTemplate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setProjectCategory">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getProjectCategory">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getSubject">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getTemplateList">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="createOrderConfirmation">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setEN15038Requested">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getDocuments_Within_FinalFolder">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getProjectmanagerID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setReferenceNumber">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setProjectmanagerID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getOrderConfirmations">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getOrderClosingDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getOrderNo_for_View">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getDocuments_Within_SourceFolder">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setCurrencyAndRate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getEN15038Requested">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getDeliveryComment">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getLanguageCombination">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getOrderObjectList">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getRequestId">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setRequestID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="checkEN15038">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getRate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getItemStatus">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getOrderObject">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getOrderObject2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getLinks">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setOrderDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getActionLink">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getOrderDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getDeliveryDeadline">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setDeliveryDeadline">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="addLanguageCombination">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCustomerContactID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCreationDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setCreationDate">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getDocuments_Within_SourceFolder_ByLanguage">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getDocuments_Within_ReferenceFolder">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getDocuments_Within_ReferenceFolder_ByLanguage">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setCustomerID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setSubject">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setCustomerContactID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="deregisterCallback_Notify">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="deregisterCallback_Observer">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="registerCallback_Observer">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="registerCallback_Notify">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setExternalID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="insert2">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getExternalID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getProjectName">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setProjectName">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getProjectStatus">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="setProjectStatus">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getOrderID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="getCustomerID">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
</binding>
<service name="DataOrder30Service">
<port name="DataOrder30Port" binding="tns:DataOrder30PortBinding">
<soap12:address location="https://plunet.tbo.group/DataOrder30"/>
</port>
</service>
</definitions>